.countdown-s1{
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.countdown-item{
  flex: 0 0 auto;
  padding: 5px 10px;
}

.countdown-time{
  font-size: 32px;
  font-weight: bold;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 65px;
  background: transparent;
  border: 2px solid white;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.countdown-label{
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 5px;
}

@include media-breakpoint-down(sm) {
  .countdown-item {
    padding: 5px 10px;
  }
  .countdown-time{
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 45px;

  }
}