.doitac-item{
  padding: 10px 0px;
  cursor: pointer;
}

.doitac-title{
  text-align: center;
  position: relative;
  z-index: 1;
  //margin-bottom: 15px;
  span{
    background: white;
    padding: 5px 20px;
    display: inline-block;
    color: gray("700");
    font-weight: bold;
  }
  &:after{
    z-index: -1;
    content : "";
    width: 100%;
    top: 50%;
    height: 1px;
    background: gray("700");
    position: absolute;
    left: 0;
  }
}

@include media-breakpoint-up(xxl){
  .col-doitac-10{
    flex: 0 0 percentage(1/10);
    max-width: percentage(1/10);
  }

  .col-doitac-9{
    flex: 0 0 percentage(1/9);
    max-width: percentage(1/9);
  }
}
