.hv-container {
  position: relative;
  z-index: 1;
}

.animate-zoomLarge {
  -webkit-animation-name: zoomLarge;
  animation-name: zoomLarge;
}

.animated.delay-2-5s {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}


.hv-swiper {
  background: white;
  border-radius: 50rem;
  position: relative;
  z-index: 1;

  .swiper-wrapper {
    &.nav {
      flex-wrap: nowrap;
    }
  }

  .swiper-slide {
    cursor: pointer;
  }

  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 25px;
    margin-top: -11px;
    background-size: 15px 25px;
    background-position: center;
    background-repeat: no-repeat;

  }

}

.hv-swiper-bg {
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50rem;
  margin-top: 20px;
}


.hv-timeline {
  color: gray("700");
  padding: 5px 10px;
  text-align: center;
  font-size: 18px;
  display: block;
}

.hv-active {
  .hv-timeline {
    color: $momo;
    background: #FFE047;
    //font-size: 20px;
  }

  .hv-timeline-name {

    font-weight: bold;
  }


}

.hv-inactive {
  .hv-timeline {
    color: gray("500");
  }
}

.hv-timeline-name {

}

.hv-timeline-cont {
  font-size: 0.9em;
}

.countdown-s2 {
  display: inline-flex;
  font-size: 1.1em;
  vertical-align: middle;
  margin-left: 10px;

  .countdown-s2-item {
  }
}

.hv-logo {
  padding-left: 30px;
  padding-right: 30px;
}

.hv-countdown {
  margin-top: 20px;

  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  padding: 4px 30px;
  color: $momo;
  background: #FFE047;
  text-align: center;
  border-radius: 50rem;
  position: relative;
  z-index: 1;
}

.hv-countdown-icon {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: -35px;
}

.wow {
}

.hv-gift {
  max-width: 280px;
  margin: 0 auto;

  text-align: center;
  margin-bottom: 15px;

  &.small {
    .hv-gift-name {
      color: white;
      font-size: 18px;
    }
  }

  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-in;

  &:hover {
    transform: translate3d(0, -10px, 0);

  }

}

.hv-gift-img {

}

.hv-gift-name {
  color: white;
  font-size: 18px;
}

.hv-gift-left {
  font-weight: bold;
  color: #FFE047;
}

.hv-gift.wow {
  animation-delay: 0s !important;
}

.hs-action {
  position: fixed;
  z-index: 15;
  bottom: 90px;
  right: 10px;
}

.hv-countdown {
  &.sl-countdown {
    box-shadow: 0px 0px 10px 0px rgba(255, 227, 75, 1);
    border: 2px solid #C49E00;

    .hv-countdown-icon {

      top: -18px;
      left: -15px;
      z-index: 1;
      display: block !important;
    }

    &:after {
      content: "";
      width: 190%;
      z-index: -1;
      height: 100px;
      border: 2px solid #FFE047;
      border-radius: 10px;
      background: transparent;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, 0, 0);

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  z-index: auto;

  position: relative;
  //overflow: hidden;


}

.hv-swiper-bg.sl-swiper {
  box-shadow: 0px 0px 10px 0px rgba(255, 227, 75, 1);
  padding: 2px;
  background: #C49E00;

  .hv-swiper {
    background: #FFE047;
    padding: 15px 20px;
  }

  .hv-active {
    .hv-timeline {
      .sl-list {
        color: $momo;
      }
    }
  }

  .swiper-wrapper {
    align-items: center;
  }
}

.sl-list {
  font-weight: bold;
  color: gray("700");
  //white-space: nowrap;
}

.lh-item-container {
  padding: 30px 0;
}

.lh-item {
  background: #FFE047;
  position: relative;
  padding: 90px 20px 20px;
  margin: 100px 5px 15px 5px;
  text-align: center;
  font-size: 20px;
  color: #700F4D;
  font-weight: bold;
  width: 100%;

  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-in;

  &:hover {
    transform: translate3d(0, -10px, 0);

  }
}

.lh-img-container {
  padding: 50px 0 20px;
}

.lh-img {
  margin: 5px 5px 15px;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-in;

  &:hover {
    transform: translate3d(0, -10px, 0);

  }
}

.lh-item-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  width: 150px;
}

@include media-breakpoint-down(lg) {
  .lh-item-container {
  }
  .lh-item {
    padding: 70px 20px 20px;
    margin: 80px 5px 15px 5px;
  }

  .lh-item-img {

    width: 100px;
  }


}


@include media-breakpoint-down(xs) {
  .lh-item-container {
    padding: 30px 5px;
  }
  .lh-item {
    padding: 60px 15px 15px;
    margin: 50px 5px 15px 5px;
    font-size: 16px;
  }

}


.tt-block {
  background: #FEF3DD !important;

  label {
    display: block;
  }

  .form-control {
    display: inline-block;
    margin: 0 5px;
    max-width: 80px;
  }

  .des-block-content {
    color: gray("900");
  }

  .dataTables_filter {
    .form-control {

      max-width: 200px;
    }
  }
}

.tt-nav {
  padding-bottom: 5px;
  border-bottom: 1px solid gray("400");
  margin-bottom: 15px;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */

  &::-webkit-scrollbar {
    display: none;
  }

  .nav-item {
    flex: 0 0 auto;
    margin: auto;
  }


  .nav-link {
    padding: 5px 30px;
    font-size: 18px;
    color: gray("600");
    font-weight: bold;
    white-space: nowrap;

    &.active {
      color: $momo;
    }
  }

  @include media-breakpoint-down(md) {
    .nav-link {
      padding: 5px 15px;
      font-size: 16px;

    }
  }

}

.lixi-nav{

  position: fixed;
  bottom: 50px;
  right: 0;
  z-index: $zindex-fixed + 1;
  img{
    -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,0,0.2));
    filter: drop-shadow(1px 2px 5px rgba(0,0,0,0.2));
  }
}

.lixi-nav2{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
  height: 50px;
  background: rgba(#a22270,0.8);
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 15px;
  justify-content: center;
  transition: transform 0.2s ease-in ;
  transform: translate3d(0, 100%,0);
  &.is-active{
    transform: translate3d(0, 0,0);
  }
  .btn{
    padding:5px 17px;
    color: #a22270;
    animation: apppulse 1.25s infinite cubic-bezier(.66,0,0,1);
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
  }
}

@keyframes apppulse{
  100% {
    -webkit-box-shadow: 0 0 0 8px rgba(174,32,112,0);
    box-shadow: 0 0 0 8px rgba(174,32,112,0);
  }
}

.lixi-nav2-item{
  padding: 0;
  //flex: 1 1 0px;
}

.des-modal-scroll.show{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  .modal-dialog{
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    -ms-overflow-y: visible;
  }

  .modal-content{
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}