$momo: #a22270;
$yellow: #f9da23;

html,
body {
  position: relative;
  //height: 100%;
  //overflow: hidden;
}

/* ==============================
   Page loader
   ============================== */

.page-loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ce0e7d;
  z-index: 100000;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100001;
}

.loader-logo {
  width: 140px;
}

.swiper-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.mated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.swiper-animated.delay-0-5s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.swiper-animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.swiper-animated.delay-1-5s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.swiper-animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.swiper-animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.swiper-animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.swiper-animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.swiper-animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.swiper-animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.swiper-animated.fastest {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}

.swiper-animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.swiper-animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.fullpage-container {
  background: url("../images/bg-lixi-1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  @include media-breakpoint-down(md) {
    background: url("../images/bg-lixi-mb-1.jpg") no-repeat center center;
    background-size: cover;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  position: relative;
  z-index: 1;

  .fp-section {
    &.active {
      .swiper-animate-fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
      }

      .swiper-animate-fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
      }

      .swiper-animate-fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
      }

      .swiper-animate-zoomIn {
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
      }

      .swiper-animate-zoomLarge {
        -webkit-animation-name: zoomLarge;
        animation-name: zoomLarge;
      }

      .swiper-animate-tada {
        -webkit-animation-name: tada;
        animation-name: tada;
      }

      .swiper-animate-fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
      }

      .swiper-animate-fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
      }
    }
  }
}

.fullpage-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.livefeed {
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;

  //height: 200px;
  overflow: hidden;
  position: relative;

  &:after {
  }

  > div {
    padding: 5px 10px;
    transition: all 0.4s ease-out;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    &.hide {
      opacity: 0;
    }

    &:nth-child(2) {
      opacity: 0.8;
    }

    &:nth-child(3) {
      opacity: 0.6;
    }

    &:nth-child(4) {
      opacity: 0.4;
    }

    &:nth-child(5) {
      opacity: 0.2;
    }
  }
}

.fp-scrollable {
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

.fp-scroller {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    //height: 100%;
  }
}

.swiper-des {
  width: 100%;
  height: 100%;
}

.bg-dongxu {
  position: fixed;
  top: auto;
  bottom: 0;
  z-index: -2;
  left: 0;
  width: 100%;
  height: auto;
}

.hs-container {
  background: url("../images/bg-lixi-1.jpg") no-repeat center center;
  background-size: cover;

  @include media-breakpoint-down(md) {
    background: url("../images/bg-lixi-mb-1.jpg") no-repeat center center;
    background-size: cover;
  }
}

.hs-container {
  min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

.full-height-container {
  min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

.hs-container{
  .full-height-container {
    min-height: calc(100vh - 80px); /* Use vh as a fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100 - 80px);
  }
}

//
//.swiper-slide-scroll{
//  overflow-y: scroll;
//  -webkit-overflow-scrolling: touch;
//  height: 100%;
//  margin-top: 15px;
//}

@keyframes zoomLarge {
  from {
    opacity: 0;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  100% {
    opacity: 1;
  }
}

.des-logo {
  position: absolute;
  text-align: center;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;

  img {
    width: 220px;
  }
}

.des-nav-pos {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  z-index: 2;
}

.des-nav-close {
  position: fixed;
  top: 20px;
  right: 20px;
}

.des-nav {
  position: relative;

  background-image: url(../images/khung/khung-top.png),
  url(../images/khung/khung-bot.png);
  background-position: center top, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto;
  padding-top: 5px;
  padding-bottom: 5px;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    top: 5%;
    left: 0;
    z-index: -1;

    background-image: url(../images/khung/khung-mid.png);

    background-position: center center;
    background-repeat: repeat-y;
    background-size: 100% auto;
  }

  .des-nav-bg {
    padding: 30px 25px;

    .des-nav-item {
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.des-nav-item {
  padding: 8px 15px;
  font-size: 17px;
  cursor: pointer;
  //border-bottom: 1px solid gray("400");
  font-weight: bold;
  opacity: 0.5;
  color: #592702;

  &.is-active {
    opacity: 1;
  }
}

.des-qua-item {
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-in;

  &:hover {
    transform: translate3d(0, -10px, 0);
  }
}

.des-qua {
  .des-qua-item {
  }

  .des-qua-img {
  }
}

@for $i from 1 through 8 {
  .des-qua {
    .des-qua-item:nth-child(#{$i}) {
      .des-qua-img {
        animation-delay: $i * 0.25s;
      }
    }
  }
}

.des-nav-btn {
  display: none;
}

.des-block {
  border-radius: 20px;
  border: 2px solid $yellow;
  color: white;
  margin-top: 50px;
  background: rgba($yellow, 0.2);
}

.des-block-title {
  background: url("../images/block-title.png") no-repeat center center;
  width: 524px;
  height: 97px;
  margin: 0 auto;
  text-align: center;
  padding: 28px 20px;
  font-size: 30px;
  font-weight: bold;
  color: $momo;
  //transform: translateY(-50%);
  margin-top: -50px;
  //font-family: UTMOngDoGia, $font-family-sans-serif;
  &.small {
    font-size: 24px;
  }
}

.des-block-content {
  padding: 20px 30px;
}

.des-block-skt {
  background: #fef3dd;
}

.btn-skt {
  color: $momo !important;
  border: 2px solid $momo !important;
  box-shadow: none;
  outline: none;
  @include hover-focus() {
    box-shadow: none;
    outline: none;
    background: $momo !important;
    color: white !important;
  }
}

.des-scroll-btn {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
}

.des-scroll-icon {
  display: block;
  line-height: 1;
  z-index: 10;

  svg {
    width: 12px;
    fill: white;
  }
}

.des-scroll-down {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 0 10px 15px;
  animation-name: scrollAnim;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  //animation-fill-mode: both;
  transition: all 0.2s ease-in;

  &.up {
    .des-scroll-icon {
      transform: rotate(180deg);
    }
  }
}

@keyframes scrollAnim {
  0% {
    transform: translate3d(-50%, -5px, 0);
  }

  50% {
    transform: translate3d(-50%, 5px, 0);
  }
  100% {
    transform: translate3d(-50%, -5px, 0);
  }
}

.btn-lol {
  font-family: Spiegel, Helvetica, sans-serif;
  font-weight: 700;
  background-image: linear-gradient(
                  to right,
                  #7b4397 0%,
                  #a1216f 51%,
                  #7b4397 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  border: 1px solid $momo;
  color: #e9e9ff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px 40px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 0px 23px 1px rgba(color("yellow"), 1);
  color: white;
  white-space: nowrap;
  @include hover-focus {
    color: white;
    background-position: right center;
  }
}

.btn-lol-3,
.btn-lol-4,
.btn-lol-1,
.btn-lol-2 {
  background-color: #fff;
  height: 3px;
  position: absolute;
  width: 3px;
}

.btn-lol-1 {
  left: -2px;
  top: -2px;
}

.btn-lol-2 {
  right: -2px;
  top: -2px;
}

.btn-lol-3 {
  bottom: -2px;
  left: -2px;
}

.btn-lol-4 {
  bottom: -2px;
  right: -2px;
}

.nk-modal {
  .modal-content {
    color: white;
    background-image: linear-gradient(
                    to right,
                    #cb2d3e 0%,
                    #ef473a 51%,
                    #cb2d3e 100%
    );
    border: 2px solid color("yellow");
  }

  .close {
    color: inherit;
    text-shadow: none;
    transition: 0.2s color;
    z-index: 2;

    &:hover {
      color: #fff;
    }
  }

  .modal-bg-close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }

  @include media-breakpoint-down(sm) {
    img {
      max-width: 200px;
      margin: 0 auto;
    }

    h2 {
      font-size: 22px;
    }

    .modal-body {
      padding: 5px;
    }

    .btn-lol {
      margin: 0 auto;
    }

    .popup-text {
      font-size: 12px;
    }
    h1 {
      font-size: 16px;
    }
  }
}

.fullpage-padding {
  .nk-modal {
    position: absolute;
    //background: rgba(0,0,0,0.5);
  }
}

.btn-test {
  z-index: 999999999999;
  position: absolute;
  top: 20px;
}

.modal-push {
  .push-avatar {
    padding-right: 20px;
    max-width: 90px;
  }

  .modal-dialog {
    margin: 0 auto;
    //width: 420px;
    transform: translate(0, -100%);
  }

  .modal-content {
    border: none;
    //box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    background: #f0f0f0;
    border-radius: 0;

    .modal-body {
      padding: 20px;
    }
  }

  .push-text {
    font-size: 17px;
    line-height: 24px;
    color: gray("700");
  }
}

.btn.btn-material {
  border-radius: 3px;
  background: #4285f4;
  color: white;
  padding: 8px 20px;
  font-size: 15px;
  @include hover-focus-active() {
    background: darken(#4285f4, 10%);
    color: white;
  }
}

.btn.btn-link-material {
  color: #4285f4;
  padding: 8px 20px;
  font-size: 15px;
  @include hover-focus-active() {
    color: darken(#4285f4, 10%);
  }
}

@include media-breakpoint-down(xs) {
  .modal-push {
    .push-avatar {
      padding-right: 10px;
      max-width: 60px;
    }

    .modal-dialog {
      margin: 0 auto;
      //width: 420px;
      transform: translate(0, -100%);
    }

    .modal-content {
      border: none;

      .modal-body {
        padding: 10px;
      }
    }

    .push-text {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .btn.btn-material {
    padding: 5px 10px;
    font-size: 13px;
  }

  .btn.btn-link-material {
    padding: 5px 10px;
    font-size: 13px;
  }
}

/* Intro Stats */

// .intro-stats {
//   list-style: none;
//   padding: 0;
//   margin-top: 50px;
//   display: flex;
//   color: white;
//   justify-content: center;
//   flex-flow: row wrap;
//   li {
//     font-size: 16px;
//     flex: 0 0 300px;
//     width: 300px;

//     margin: 0 25px;

//     text-align: center;

//     padding: 15px 15px;

//     border-radius: 10px;
//     border: 2px solid #f9da23;
//     color: white;
//     background: rgba(249, 218, 35, 0.3);
//   }
// }

// .intro-stats-num {
//   margin: 0;
//   padding: 0;
//   font-weight: 600;
//   color: white;
//   margin-bottom: 2px;
//   font-size: 34px;
//   white-space: nowrap;
// }

// .intro-stats-img {
//   height: 110px;
//   margin-bottom: 10px;
// }

// .intro-stats-title1{
//   font-size: 24px;
// }

// @include media-breakpoint-down(sm) {
//   /* Intro Stats */

//   .intro-stats-title1{
//     font-size: 16px;
//   }


//   .intro-stats {
//     margin-top: 20px;

//     li {
//       font-size: 14px;
//       flex: 0 0 calc(50% - 20px);
//       width: calc(50% - 20px);
//       max-width: 250px;

//       margin: 0 10px;

//       text-align: center;

//       padding: 15px 5px;

//       border-radius: 10px;
//       border: 2px solid #f9da23;
//       color: white;
//       background: rgba(249, 218, 35, 0.3);
//     }
//   }

//   .intro-stats-num {
//     margin-bottom: 2px;
//     font-size: 20px;
//     white-space: nowrap;
//   }

//   .intro-stats-img {
//     height: 70px;
//     margin-bottom: 10px;
//   }
// }


.intro-stats-title1 {
  font-size: 24px;
}


/* Intro Stats */

.intro-stats {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;

  justify-content: center;

  .intro-stats-num {
    color: white;
    margin-bottom: 2px;
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
  }

  .intro-stats-label {
    color: white;
    //white-space: nowrap;
  }

  li {
    flex: 0 0 auto;

    padding: 0 25px;


    margin-bottom: 20px;
    border-right: 1px solid #e0e0e0;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }
}


@include media-breakpoint-down(md) {
  /* Intro Stats */


  .intro-stats {

    li {
      //flex: 0 0 auto;

      padding: 0 25px;

      flex: 0 0 40%;
      width: 40%;

      margin-bottom: 20px;

      &:nth-child(even) {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
      }
    }
  }


}


@include media-breakpoint-down(sm) {
  /* Intro Stats */

  .intro-stats {


    li {
      //flex: 0 0 auto;

      padding: 0 10px;

      flex: 0 0 50%;
      width: 50%;


      margin-bottom: 15px;


    }
  }

  .intro-stats-num {
    font-size: 15px;
  }

  .intro-stats-label {
    font-size: 13px;
  }


  .intro-stats-title1 {
    font-size: 16px;
  }

}


.thongke-qua {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
}

.thongke-table {
  .des-block-content {
    padding: 15px;
    font-size: 14px;
  }


  .table th, .table td {
    padding: 10px 10px;
    vertical-align: center;
  }

  .des-block-title {
    font-size: 25px;
  }

  .des-block-title {
    width: 400px;
    height: 74px;
    background-size: cover;
    padding: 23px 5px;
    font-size: 20px;
    margin-top: -39px;
  }


  @include media-breakpoint-down(xs) {

    .des-block-title {
      width: 270px;
      height: 50px;
      background-size: cover;
      padding: 14px 5px;
      font-size: 13px;
      margin-top: 0;
      margin-bottom: 10px;


    }
  }
}

.thongke-search {
  padding: 5px 0 20px;


  .input-group .form-control {
    width: 200px;
    max-width: 200px;
    margin: 0;
    //max-width: none;

    @include hover-focus() {
      outline: none;
      box-shadow: none;
    }
  }

  .btn.btn-primary {
    background: color("momo");
    border-color: color("momo");

    img {
      vertical-align: -8%;
    }

    @include hover-focus-active() {
      outline: none;
      box-shadow: none !important;

      background-color: lighten(color("momo"), 5%);
      border-color: color("momo");
    }
  }

  .input-group .thongke-search-captcha {


    width: 120px;
    max-width: 120px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    margin-right: 10px;
    background: transparent;
    padding: 5px 0;
    height: 25px;
    font-size: 13px;

  }

}

.thongke-search-form {
  justify-content: flex-end;
  flex-wrap: nowrap;
}


.thongke-search-img {
  img {
    width: 90px;
    height: 25px;
  }
}


@include media-breakpoint-down(sm) {
  .thongke-search-form {
    justify-content: center;
  }

  .thongke-table {
    .table tfoot th, .table thead th {
      font-size: 13px;
    }

    .des-block-content {
      padding: 0 10px 10px;
      font-size: 13px;
    }
  }


  .thongke-search {
    padding: 0 0 15px;
    text-align: center;

    .input-group .form-control {
      width: 180px;
      max-width: 180px;
      margin: 0;

    }


    .input-group .thongke-search-captcha {

      width: 120px;
      max-width: 120px;
    }


  }
}

.vevang-modal {
  position: absolute;
  padding: 50% 13% 5%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;

  overflow: hidden;

}

.vevang-modal-close {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.vevang-modal-txt {
  color: #380e27;
}

.vevang-modal-title {
  font-size: 30px;
}

.vevang-modal-sub {
  font-weight: bold;
  font-size: 16px;
}


@include media-breakpoint-down(sm) {

  .vevang-modal-title {
    font-size: 20px;
  }

  .vevang-modal-sub {
    font-size: 14px;
  }


  .vevang-modal {


  }

  .vevang-modal-img {
    width: 80px;
  }

  .h1 {
    font-size: 20px;
  }

  .h4 {
    font-size: 16px;
  }

  .vevang-modal-content {
    font-size: 13px;
  }
}

@media only screen and (max-width: 320px) {

  .vevang-modal-title {
    font-size: 20px;
  }

  .vevang-modal-sub {
    font-size: 12px;
  }


  .vevang-modal-img {
    width: 50px;
  }
}

.swal2-popup {
  font-size: 13px;
}

.vevang-modal-container {
  background: rgba(0, 0, 0, 0.5);
}








.m-table {
  width: 100%;
  display: table;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}


.m-row {
  display: table-row;
  background: #fff
}

.m-row.header {
  background: #a22270;
  font-weight: bold;
  &:hover{
    background: #a22270;
  }
}


.m-des-block-title{
  //margin-bottom: -15px;
  position: relative;
  z-index: 2;
  width: 400px;
  height: 74px;
  background-size: cover;
  padding: 23px 5px;
  font-size: 20px;
}

@media (max-width: 575.98px) {
  .m-des-block-title {
    width: 270px;
    height: 50px;
    background-size: cover;
    padding: 14px 5px;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: -5px
  }
}

.cell {
  display: table-cell
}


.m-row .cell {
  font-size: 16px;
  color: gray("900");
  line-height: 1.2;
  font-weight: unset!important;
  padding: 15px 15px;
  border-bottom: 1px solid #f2f2f2
}

.m-row.header .cell {
  font-size: 18px;
  line-height: 1.2;
  font-weight: unset!important;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}

.m-row .cell:nth-child(1) {
  width: 100px;
  padding-left: 30px
}

.m-row .cell:nth-child(2) {
  width: 200px
}

.m-row .cell:nth-child(3) {
  width: 150px
}

.m-row .cell:nth-child(4) {
  width: 190px
}

.m-table,.m-row {
  width: 100%!important
}

.m-row:hover {
  background-color:  gray("100");
}


@include media-breakpoint-down(md){

  .cell {
    display: table-cell
  }


  .m-row .cell {
    font-size: 13px;

    padding: 5p 10px;
  }

  .m-row.header .cell {
    font-size: 16px;

    padding-top: 12px;
    padding-bottom: 12px;
  }

  .m-row .cell:nth-child(1) {
    width: 100px;
    padding-left: 15px
  }

  .m-row .cell:nth-child(2) {
    width: 200px
  }

  .m-row .cell:nth-child(3) {
    width: 150px
  }

  .m-row .cell:nth-child(4) {
    width: 190px
  }

}