.intro {
}

.manual-hero-title {
  @include media-breakpoint-down(sm) {
    font-size: 22px;
    line-height: 1.2;
  }
}

.manual-hero {
  padding: 50px 0 80px;
  background: color("momo") url(../images/huongdan/video-bg.jpg) center center
  no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(color("momo"), 0.67);
  }
  color: white;
  .container {
    position: relative;
    z-index: 1;
  }
}

.manual-device {
  // width: 320px;
  position: relative;
  // margin: 0 auto;
  // @include media-breakpoint-down(sm) {
  //   width: 300px;
  // }

  width: 320px;
  height: 647px;
  margin: 10px auto;
}

.manual-device-stock {
  position: absolute;
  // z-index: 10;
  width: 320px;
  height: 647px;
  background: url("../images/huongdan/google-pixel.png") no-repeat transparent;
  background-size: cover;
}

.manual-device-slide {
  // width: 320px;
  // margin: 10px auto;
  // height: 647px;
  // margin-top: 0;
  // margin-top: 20%;

  .manual-device-swiper {
    width: 286px;
    display: block;
    margin: 0 auto;
    padding-top: 65px;
    padding-left: 1px;
    .swiper-slide {
    }
  }
}

@include media-breakpoint-down(sm) {
  .manual-device {
    position: relative;

    width: 290px;
    height: 584px;
    margin: 10px auto;
  }

  .manual-device-stock {
    position: absolute;
    // z-index: 10;
    width: 290px;
    height: 584px;
  }

  .manual-device-slide {
    // width: 320px;
    // margin: 10px auto;
    // height: 647px;
    // margin-top: 0;
    // margin-top: 20%;

    .manual-device-swiper {
      width: 258px;
      display: block;
      margin: 0 auto;
      padding-top: 59px;

      .swiper-slide {
      }
    }
  }
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgba(color("momo"), 0.7);
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: rgba(color("momo"), 0.8);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.manual-page {
  margin-top: -40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
  // background: #fff;
  border: 1px solid gray("200");
  // border-radius: 12px;
  position: relative;
  z-index: 2;
}

.manual-page-tab {
  margin-bottom: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  border-radius: 5px;
  overflow: hidden;
  background: gray("200");
  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }

  .nav-item {
    flex: 1;
  }
  .nav-link {
    line-height: 1.3;
    // padding-bottom: 1rem;
    padding: 0 5px 0 20px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: gray("900");
    position: relative;
    transition: all 0.4s ease;
    position: relative;
    font-size: 16px;

    // background: gray("300");
    // color: gray("600");
    color: white;
    background: color("momo");
    font-weight: 500;

    // &.active {
    //   color: color("blue");
    //   background: lighten(color("blue"), 45%);
    //   font-weight: 500;
    //   &::before{
    //     border-left: 15px solid lighten(color("blue"), 45%);
    //   }
    // }

    &:last-child {
      &:before,
      &:after {
        display: none;
      }
    }

    &.active {
      color: white;
      background: color("momo");
      font-weight: 500;
      &::before {
        border-left: 16px solid color("momo");
      }

      ~ .nav-link {
        background: gray("300");
        color: gray("600");
        &::before {
          border-left: 16px solid gray("300");
        }
      }
    }

    &:before {
      transition: all 0.4s ease;
      // border-left-color: color("blue");
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 26px solid transparent;
      border-bottom: 26px solid transparent;
      border-left: 16px solid color("momo");
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      z-index: 3;
      margin-left: -2px;
    }

    &:after {
      margin-left: -1px;
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 18px solid #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      z-index: 2;
    }
    // &:before {
    //   position: absolute;
    //   content: "";
    //   height: 4px;
    //   background-color: color("blue");
    //   left: 0px;
    //   right: 0px;
    //   bottom: -2px;
    //   -webkit-transition: all 0.4s ease;
    //   transition: all 0.4s ease;
    // }

    // &.active:before {
    //   // right: 0px;
    // }

    // &.active {
    //   color: gray("900");
    // }

    // &.active ~ * {
    //   color: gray("500");
    //   &:before {
    //     // right: 0px;
    //     right: 100%;
    //   }
    // }
  }

  @include media-breakpoint-down(md) {
    .nav-link {
      padding: 0 5px 0 15px;
      height: 48px;
      font-size: 14px;
      line-height: 1.2;
      &:first-child {
        padding: 10px 7px 10px 7px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }
    .nav-link {
      padding: 0 5px 0 20px;
      height: 44px;
      font-size: 14px;
      line-height: 1.2;
      min-width: 110px;
      &:first-child {
        padding: 10px 7px 10px 7px;
      }
    }
  }
}

.promotion-how-title{
  @include media-breakpoint-down(sm){
    font-size: 16px;
  }
}

.promotion-how {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  .process_item .process__body-title {
    color: white !important;
  }
  .process__body {
    color: white;
  }
  .process__body-title {
    color: white;
  }
  .process__number {
    border: 2px solid color("momo");
  }
  .process__number span {
    color: color("momo");
  }
  .process_item.active .process__number {
    background: color("momo");
  }
  .process_item:hover .process__body-title,
  .process_item.active .process__body-title {
    color: white;
  }
  .bank-select-bg {
    background: rgba(255, 255, 255, 0.1);
  }
  .manual-page {
    background-color: #fff;
  }
  .manual-page-tab {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: gray("200");
    .nav-link {
      color: color(
                      "momo"
      ); // background: color("momo"); // background: #612241;
      background: white;
      &.active {
        color: color("momo");
        background: white;
        &::before {
          border-left: 16px solid white;
        }
        ~ .nav-link {
          background: gray("300");
          color: gray("600");
          &::before {
            border-left: 16px solid gray("300");
          }
        }
      }
      &:before {
        border-left: 16px solid white;
      }
      &:after {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 18px solid color("momo");
      }
    }
  }
}

.process {
  list-style: none;
  position: relative;
}

.process_item {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  min-height: 70px;
  flex-flow: row nowrap;
  cursor: pointer;
  // transition: all 0.2s ease-in;
  &.active {
    .process__number {
      background: color("blue");
      span {
        color: white;
      }
    }

    .process__body-content {
      height: 100%;
      opacity: 1;
    }
  }
  .process__number {
    transition: all 0.2s ease-in;
  }
  .process__body-title {
    transition: all 0.2s ease-in;

    margin-top: 9px;
  }

  &:hover,
  &.active {
    .process__body-title {
      color: color("blue");
    }
  }
}

.process__body-content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
  backface-visibility: hidden;
}

.bank-select-bg {
  // background: color("blue");
  padding: 10px 20px 0;
  // color: white;
  border-radius: 5px;
  // background: #dce7f5;
  background: rgba(0, 0, 0, 0.03);
  // background: white;
  margin-bottom: 20px;
  margin-top: -20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  // box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
  // background-color: #fff;
  // -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.03), 0 4px 15px 0 rgba(197,209,228,.41);
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,.03), 0 4px 15px 0 rgba(197,209,228,.41);
  @include media-breakpoint-down(sm) {
    padding: 10px;
  }
}

.process__number {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid color("blue");
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.process__number span {
  font-size: 16px;
  font-weight: bold;
  color: color("blue");
  position: relative;
}

.process__body {
  flex: 1 1 0px;
  padding-left: 15px;
}

.process__body {
  // margin-bottom: 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.7;
  color: gray("700");
}

.process__body-title {
  font-size: 18px;
  font-weight: bold;
  color: gray("900");
}

.process li:not(:last-child) {
  margin-bottom: 30px;
}
.process:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  left: 20px;
  top: 0;
  border-left: 1px dashed gray("400");
}

.bank-select {
  width: 250px;
  font-size: 16px;

  .btn {
  }

  .bank-select-btn {
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    width: 250px;
    text-align: left;
    border: 2px solid gray("400");
    color: gray("700");
    &:active,
    &:hover {
      border: 2px solid color("blue") !important;
      color: gray("900") !important;
      background: white !important;
    }
    &.dropdown-toggle {
      color: gray("900") !important;
      background: white !important;
    }
  }

  .dropdown-menu {
    width: 250px;
    padding: 0;
  }

  .dropdown-item {
    padding: 8px 20px;
    &:not(:last-child) {
      border-bottom: 1px solid gray("200");
    }
    img {
      margin-right: 10px;
    }
    &:active {
      background: gray("200");
      color: gray("900");
    }
  }
}

.payment-list {
  display: flex;
  flex-flow: row wrap;
}

.payment-item {
  flex: 0 0 auto;
  width: calc(20% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  @include media-breakpoint-down(lg) {
    width: calc(20% - 10px);
  }

  @include media-breakpoint-down(md) {
    width: calc(33.3333% - 10px);
  }
}

.payment-item > span {
  display: block;
  font-size: 13px;
  color: #9eaecf;
  line-height: 1;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.payment-item label {
  width: 100%;
  border: 2px solid #d3e0f3;
  border-radius: 4px;
  background: white;
  padding: 6px 14px 6px;
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
  display: flex;
  align-items: center;
}

.payment-item label span {
  padding-left: 15px;
}

.payment-item label:after {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 24px;
  width: 24px;
  color: #fff;
  transition: all 0.4s;
  transform: scale(0);
  content: "";
  border-radius: 50%;
  background: white;
  border: 2px solid white;
  background-size: cover;
  background-image: url("data:image/svg+xml;base64,
  PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQyNi42NjcgNDI2LjY2NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDI2LjY2NyA0MjYuNjY3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIGNsYXNzPSIiPjxnPjxwYXRoIHN0eWxlPSJmaWxsOiMwMDFFRkYiIGQ9Ik0yMTMuMzMzLDBDOTUuNTE4LDAsMCw5NS41MTQsMCwyMTMuMzMzczk1LjUxOCwyMTMuMzMzLDIxMy4zMzMsMjEzLjMzMyAgYzExNy44MjgsMCwyMTMuMzMzLTk1LjUxNCwyMTMuMzMzLTIxMy4zMzNTMzMxLjE1NywwLDIxMy4zMzMsMHogTTE3NC4xOTksMzIyLjkxOGwtOTMuOTM1LTkzLjkzMWwzMS4zMDktMzEuMzA5bDYyLjYyNiw2Mi42MjIgIGwxNDAuODk0LTE0MC44OThsMzEuMzA5LDMxLjMwOUwxNzQuMTk5LDMyMi45MTh6IiBkYXRhLW9yaWdpbmFsPSIjNkFDMjU5IiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAxNkZGIj48L3BhdGg+PC9nPiA8L3N2Zz4=");
}

.payment-item input[type="radio"] {
  display: none;
}

.payment-item input[type="radio"]:checked ~ label {
  border-color: #2b56f5;
}

.payment-item input[type="radio"]:checked ~ label:after {
  transform: scale(1);
}

.payment-icon {
  margin-bottom: 3px;
}

.payment-icon img {
  width: 30px;
}

.payment-cur {
  font-size: 16px;
  color: #304073;
}

@include media-breakpoint-down(sm) {
  .bank-select-bg {
    padding: 0;
    border: none;
    background: white;
  }
  .payment-list {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .payment-item {
    display: inline-block;
    width: 85px !important;
    margin-bottom: 0;
    margin-top: 10px;
    label {
      flex-wrap: wrap;
      padding: 4px 2px 4px;
    }
    .payment-icon {
      display: block;
      flex: 1 1 100%;
    }
    .payment-cur {
      font-size: 12px;
      flex: 1 1 100%;
      padding-left: 0;
    }
    width: calc(50% - 10px);
  }
}
@include media-breakpoint-down(md) {
  .manual-hero {
    padding: 40px 0 40px;
  }
  .manual-page {
    margin-top: 0;
  }
}

@include media-breakpoint-down(sm) {
  .manual-hero {
    padding: 30px 0 30px;
  }
  .manual-page {
    margin-top: 0;
    &.container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  .manual-process {
    margin-bottom: 5px;
    padding-bottom: 50px;
    justify-content: center;
  }
  .bank-select-bg {
    margin-top: 0;
    margin-bottom: 0;
  }
  .process_item {
    display: block;
    flex: 0 0 auto;
    margin-bottom: 0;
    margin: 0 5px;
    text-align: center;
    position: static;
    min-height: 0;
    .process__body {
      display: none;
      margin-top: 15px;
      padding-left: 0;
    }
    .process__number {
      margin: 0 auto;
      width: 35px;
      height: 35px;
      border: none;
      background: gray("300");

      span {
        color: gray("800");
        font-size: 14px;
      }
    }
    &.active {
      .process__body {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
      }
    }
    .process__body-title {
      font-size: 17px;
      color: black !important;
      font-weight: normal;
      // margin-bottom: 5px;
      line-height: 1.1;
    }
    .process__body-content {
      display: none;
      // display: block;
      height: 200px !important;
      overflow-y: auto;
      overflow-x: hidden;
      font-size: 14px;
      text-align: left;
      position: relative;
      -webkit-overflow-scrolling: touch;
    }
  }
  .process li:not(:last-child) {
    margin-bottom: 0 !important;
  }
  .process__body {
    margin-top: 10px !important;
  }
  .process {
    display: flex;
    flex-flow: row nowrap;
    // margin-bottom: 200px;

    &:before {
      display: none;
    }
  }
}





.promo-block-title {
  background: #af2070;
  color: white;
  padding: 10px 15px;
}



.help-center-accordion {
  font-size: 16px;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
  .card {
    margin-bottom: 10px;
    border-radius: 0;
    border: 1px solid gray("300");
    // .show, .collapsing{
    //   background: gray("200");
    // }
  }
  .card-body {
    color: gray("700");
  }
  .card-header {
    border-bottom: none;
    background: white;
    padding: 0;
  }
  .card-link {
    display: block;
    padding: 10px 30px 10px 20px;
    font-size: 18px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }

    background: gray("100");
    transition: background 0.1s ease-in;
    animation-delay: 0.2s;
    position: relative;
    .card-link-icon {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: gray("600");
      color: white;
      position: absolute;
      top: 16px;
      right: 12px;
      text-align: center;
      /* line-height: 14px; */
      font-weight: normal;
      line-height: 14px;

      font-size: 12px;

      @include media-breakpoint-down(sm) {
        top: 13px;
      }
    }

    .plus {
      display: none;
    }

    &.collapsed {
      background: white;
      .minus {
        display: none;
      }
      .plus {
        display: block;
      }
    }
  }
  .card-header:first-child {
    border-radius: 0;
  }
  .card-link {
    color: $body-color;
    font-weight: 500;
  }

  .card-body {
    padding: 10px 20px 10px 20px;
    background: gray("100");
  }
}



.promotion-accordion.help-center-accordion {
  .card-link {
    padding: 5px 30px 5px 20px;
    background: #f8da22;
  }
  .card-body {
    background: white;
  }
  .card-link.collapsed {
    background: lighten(#f8da22, 15%);
  }
  .card {
    border: none;
    //border-left: 2px solid #e4e4e4;
    margin-bottom: 15px;
  }
  .card-link .card-link-icon {
    background: transparent;
    color: gray("800");
  }
  .card-link .card-link-icon {
    top: 12px;
  }
  @include media-breakpoint-down(md) {
    .card-link .card-link-icon {
      top: 10px;
    }
  }
}



.hs-container{
  position: relative;
  background-attachment: fixed;
  background-position: center center ;
  padding: 80px 0 40px;
  overflow: hidden;
  z-index: 1;
  .hs-how, .hs-thele{
    position: relative;
    z-index: 1;
  }

  canvas{
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
  }
  .hs-thele{

    .card{
      border-radius: 5px;
      overflow: hidden;

    }
    .card-header{
    }
    .promotion-accordion.help-center-accordion .card-link{
      padding: 9px 30px 9px 20px
    }

    .des-block{
      background: #FEF3DD !important;
    }
  }
}


