
.slot-machine-container{
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  //height: 284px;
  background: #393265;
  border-radius: 15px;
  border: 3px solid #ffed5b;
  box-shadow: 0px 0px 40px 0px rgba(255,240,0,1);
  padding: 6px;
}

.slot-machine-bg{
  background: #2a254e;
  padding: 7px;
  border-radius: 10px;
  //
  //display: flex;
  //flex-flow: row nowrap;
  .ezslots{
    display: flex;
    flex-flow: row nowrap;
    margin-left: -5px;
    margin-right: -5px;
    >.window{
      margin: 0 5px;
      overflow:hidden;
      display:inline-block;
      flex: 1 1 auto;
      max-width: 100%;
      border-radius: 5px;
      background: #d61d71;
      font-size: 45px;
      font-weight: bold;
      font-family: 'Orbitron', sans-serif;
      color:white
    }
  }
}

.btn-slot-container{
  padding-top: 50px;

  //margin-bottom: 80px;
}

.slot-machine-small{
  border-width: 2px;
  padding: 5px;
  border-radius: 5px;
  margin: 6px auto;
  .slot-machine-bg{
    padding: 4px;
    border-radius: 5px;
  }

  .slot-machine-bg{
    .ezslots{

      >.window{

        font-size: 26px;

      }
    }
  }
}

.slot-machine-link{
  text-align: center;
  display: block;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.32);
  font-size: 20px;
  font-weight: 600;
  @include hover-focus(){
    color: color("yellow");
    text-decoration: none;
  }
}

.ezslots>.window{
  overflow:hidden;
  display:inline-block;
}.slot-machine-container
.ezslots>.window>.slider>.symbol{
  text-align:center;
  display:table;
}
.ezslots>.window>.slider>.symbol>.content{
  padding:0px;
  margin:0px;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

//
//.btn-slot-machine{
//  background: #393265;
//  border-radius: 15px;
//  border: 3px solid #ffed5b;
//  box-shadow: 0px 0px 40px 0px rgba(255,240,0,1);
//  font-size: 45px;
//  font-weight: bold;
//  padding: 15px 60px;
//  outline: none;
//  @include hover-focus(){
//    background: lighten(#393265, 10%);
//    border: 3px solid #ffed5b;
//    outline: none;
//    box-shadow: 0px 0px 40px 0px rgba(255,240,0,1);
//  }
//}

.btn-slot-machine{
  display: inline-block;
  transition: all 0.2s ease-in;
  opacity: 0.8;
  @include hover-focus(){
    opacity: 1;
  }

  &.is-inactive{
    cursor: default;
    user-select: none;
    img{
      filter: grayscale(100%);
    }
  }
}

//.quayso-nav{
//  .nav-item{
//    flex: 1 1 0px;
//    text-align: center;
//    margin: 1px;
//  }
//  .nav-link{
//    border-top-left-radius: 5px;
//    border-top-right-radius: 5px;
//    background: white;
//    font-weight: normal;
//  }
//  &.tt-nav .nav-link.active{
//    background: #e9ce2f;
//    color: #952270;
//    font-weight: bold;
//  }
//}


.slot-machine-link{
  img{
    vertical-align: -15%;
  }
}




.dt-bootstrap4{
  .pagination{
    justify-content: flex-end;
    margin-bottom: 0;
  }


  &.dataTables_wrapper .row:first-child {
    display: none;
  }

  &.dataTables_wrapper .row:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5rem;
  }


}

table.dataTable {
  border-collapse: collapse !important;
  margin-bottom: 0;


}




.table tfoot th, .table thead th{
  font-size: 14px;
  font-weight: bold;
  color: color("secondary");
}

.modal-slot-machine{
  .modal-content{
    box-shadow: 0px 0px 40px 0px #fff000;
    border: 1px solid #fed211;
  }
  .modal-header{
    background: #fed211;
    padding: 10px 15px;
    text-align: center;
    .modal-title{
      color: black;
    }
  }

  .tab-content{
    padding: 15px 20px;
    background: white;
  }
  .nav-pills .nav-link{
    font-weight: bold;
    border-bottom: 1px solid gray("300");
    color: gray("900");
    &.active{
      color: #b0006d;
      background: transparent;

    }
  }
}

@media (min-width: 992px){
  .modal-lg-more {
    max-width: 1000px;
  }
}





/* DATATABLES */
.dataTables_length {
  select {
    display: inline-block;
    width: 80px;
    margin: 0px 5px;
    vertical-align: middle;
  }
}
.dataTables_filter {
  input {
    display: inline-block;
    width: 130px;
    margin: 0px 5px;
    vertical-align: middle;
  }
}
.dataTables_wrapper {
  .row:first-child {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .row:last-child {
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
  }
}



.onboarding-modal {
  .onboarding-media {
    padding-top: 20px;
    text-align: center;
    img {
      margin: 0px auto;
    }
  }
  button.close {
    position: absolute;
    top: 15px;
    right: 20px;
    float: none;
    z-index: 999;
    color: #111;
    opacity: 1;
    text-shadow: none;
    .os-icon {
      font-size: 12px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .close-label {
      margin-right: 10px;
      color: #C26C6C;
      letter-spacing: 1px;
      font-weight: $font-weight-bold;
      font-size: $font-size-base * 0.9;
    }
  }
  .onboarding-content {
    padding: 40px 50px;

    .onboarding-text {

      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      &:last-child {
        margin-bottom: 10px;
      }
    }

  }



  &.animated {
    .onboarding-media {
      opacity: 0;
      transform: translateY(80px) scale(0.8);
      transition: all 0.5s cubic-bezier(.25,1.1,.5,1.35);
      transition-delay: 0.3s;
    }
    .onboarding-content {
      opacity: 0;
      transition: all 0.4s ease;
      transition-delay: 0.1s;
      transform: translateY(40px);
    }
    .onboarding-title {
      transform: translateY(40px);
      transition: all 0.5s cubic-bezier(.25,1.1,.5,1.35);
      transition-delay: 0.5s;
      opacity: 0;
    }
    .onboarding-text {
      transform: translateY(40px);
      transition: all 0.5s cubic-bezier(.25,1.1,.5,1.35);
      transition-delay: 0.6s;
      opacity: 0;
    }
    .features-list, form {
      transform: translateY(40px);
      transition: all 0.5s ease;
      transition-delay: 0.7s;
      opacity: 0;
    }
    .onboarding-side-by-side {
      .onboarding-content {
        transform: translateX(0px);
      }
    }
  }

  &.show {
    .onboarding-media {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    .onboarding-content {
      opacity: 1;
      transform: translateY(0);
    }
    .onboarding-title {
      opacity: 1;
      transform: translateY(0);
    }
    .onboarding-text {
      opacity: 1;
      transform: translateY(0);
    }
    .features-list, form {
      opacity: 1;
      transform: translateY(0);
    }
    .onboarding-side-by-side {
      .onboarding-content {
        transform: translateX(0px);
      }
    }
  }

}

.quayso-container{
  max-width: 1140px;
  width: 100%;
}

//.quayso-function{
//  position: fixed;
//  bottom: 30px;
//  left: 0;
//  right: 0;
//  width: 100%;
//
//  @media (max-width: 1280px) {
//    position: relative;
//    bottom: 0;
//    margin-top: 20px;
//  }
//
//  @include media-breakpoint-down(lg){
//
//  }
//}

//html, body {
//  height: 100%;
//  margin: 0;
//}
//
//.hs-container {
//  min-height: 100%;
//  margin: 0 auto -70px;
//}
//.quayso-function {
//  height: 70px;
//  z-index: 99;
//  position: relative;
//}


.quayso-container{
  min-height: calc(100vh - 100px);
}

.quayso-function {
  height: 50px;
  margin-top: 10px;
}


