@mixin media-breakpoint-ip5() {
  @media (max-width: 320px) {
    @content
  }
}


@include media-breakpoint-down(xl){
  .des-nav-item{
    padding: 5px 5px;
    font-size: 14px;
    //background: none;
    //padding-left: 0;
    &.is-active{
      //background: none;
    }
  }



}



@include media-breakpoint-down(md){

  .des-nav-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
    display: block;
    width: 60px;
  }

  .des-nav-pos{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    right: 0;
    bottom: 0;
    transform: translateY(0);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    display: flex;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    >div{
      animation: none !important;
    }

    .des-nav-bg{
      //background: #FFC556;
    }

    .des-nav-item {
      padding: 7px 15px;
      font-size: 16px;
    }



    &.is-active{
      opacity: 1;
      visibility: visible;
    }
  }

  //.des-nav-pos{
  //  position: fixed;
  //  width: 100%;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //  z-index: 10;
  //  right: 0;
  //  bottom: 0;
  //  transform: translateY(0);
  //  visibility: hidden;
  //  opacity: 0;
  //  overflow: hidden;
  //
  //  display: flex;
  //  background: rgba(0,0,0,0.8);
  //  justify-content: flex-end;
  //  align-items: flex-end;
  //  margin-bottom: 50px;
  //  >div{
  //    animation: none !important;
  //    position: relative;
  //
  //    width: 100%;
  //    background: transparent;
  //    color: white;
  //
  //  }
  //
  //  .des-nav-bg{
  //    background: #FFC556;
  //  }
  //
  //  .des-nav-khung{
  //    display: none;
  //  }
  //
  //  transition: all 0.2s ease-in;
  //
  //  &.is-active{
  //    opacity: 1;
  //    visibility: visible;
  //  }
  //}

  .hv-timeline{
    padding: 2px 5px;
  }



  .hv-timeline-name{
    strong{
      display: block;
    }
  }

  .hs-container{
    padding-top: 90px;
  }


}
@include media-breakpoint-down(sm){
  .des-nav-btn{

    width: 40px;
  }

  .des-block-title{
    &.small{
      font-size: 20px;
      padding-top: 40px;
    }
  }



}

@include media-breakpoint-down(xs){

  body{
    //background: red;
  }

  .btn-lol{
    font-size: 14px;
    padding: 7px 20px;
  }

  .des-logo{

    width: 150px;
  }


  .des-block{
    border-radius: 0;
    border: none;
    padding: 0;
    background: none;
  }

  .des-block{
    margin-top: 0;
  }


  .des-block-content{
    padding: 10px;
  }


  .des-block-title{
    width: 270px;
    height: 50px;
    background-size: cover;
    padding: 14px 5px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
    &.small{
      font-size: 12px ;
      padding-top: 18px;
    }
  }



  .btn-skt{
    font-size: 12px;
    background: white;
    border-width: 1px !important;
    padding: 5px !important;
  }



  .hv-timeline{
    padding: 5px 5px;
    font-size: 15px;
  }

  .hv-active{
    .hv-timeline{
    }




  }


  .hv-countdown{
    margin-top: 20px;

    display: inline-block;
    font-size: 13px;

    padding: 4px 20px;
    .countdown-s2{
      font-size: 1.1em;
    }
    .hv-countdown-icon{
      display: none;
    }
  }

  .sl-list{
    font-size: 13px;
  }
  .hv-swiper-bg.sl-swiper .hv-swiper{
    padding: 5px 10px;
  }

  .sl-gift{
    max-width: 200px;
  }

  .tt-block{
    font-size: 13px;
    .table th, .table td {
      padding: 5px;

    }

    .pagination{
      white-space: nowrap;

    }
    .paginate_button{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  #dataTable1_length{
    display: none;
  }

  .des-title{
    img{
      max-width: 250px;
      width: 100%;
    }
  }

  .livefeed{
    font-size: 14px;
    margin-top: -5px;
    >div{
      padding: 3px 5px;
    }
  }
}





@include media-breakpoint-ip5(){

  .hv-timeline{
    font-size: 13px;
  }

  .hv-active{
    .hv-timeline{
    }
  }
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .fullpage-padding{
    max-width: 900px;
  }


}



@include media-breakpoint-between(lg, xl){
  .fullpage-padding{
    max-width: 750px;
  }

  .des-nav-pos{
    left: 5px;
  }
}
