.des-toast{
  padding: 15px;
}

.des-toast-title{
  font-size: 16px;

}

.des-toast-content{
  
  padding-left: 15px;
}

.des-toast-txt{
  color: gray("600");
}

.des-toast-close{
  position: absolute;
  top: 3px;
  right: 8px;
  z-index: 2;
}