{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<!-- Page Loader -->

<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>


<div class="hs-container">



    <div class="hs-action d-none d-lg-block ">
        <a href=""> <img src="images/heovang/lacheo-btn.png" class="tada animated infinite slow" width="150" alt="">
        </a>
    </div>

    <div class="des-logo ">
        <img src="images/heovang/momo-logo2.png"class="img-fluid d-block mx-auto">
    </div>


    <div class="container mt-4">
        <div class="animate-zoomLarge animated faster delay-2s">
            <img src="images/countdown/lacxi.png" width="420" class="img-fluid mx-auto d-block hv-logo" width="" alt="">
        </div>
    </div>


    <div class="container lh-img-container">


        <div class="text-center ">
            <img src="images/countdown/momo-count.png" width="800" class="img-fluid mx-auto d-block animated fadeInUp delay-2s" alt="">
        </div>

        <div class="countdown-s1 mt-4 fadeInUp animated delay-2-5s" data-date="2019/1/30"></div>


    </div>



    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>

</div>

{% endblock %}