{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}


<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>


<div class="fullpage-container">
    <div id="fullpage">


        <div class="section">


            <div class="container fullpage-padding">

                <div class="des-logo">
                    <img src="images/heovang/momo-logo2.png" class="img-fluid d-block mx-auto">
                </div>


                <div class="container fullpage-padding">
                    <div class="des-block bg-white">
                        <div class="des-block-title small swiper-animate-tada swiper-animated delay-0-5s">
                            CÁM ƠN CÁC ĐỐI TÁC ĐÃ ĐỒNG HÀNH
                        </div>


                        <div class="nk-modal modal fade des-modal-doitac" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel"
                             aria-hidden="true">

                            <div class="modal-bg-close" data-dismiss="modal"></div>

                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                        <div class="container-fluid bd-example-row">

                                            <h3 class="text-center h3 my-3">Tiki Company</h3>


                                            <div class="row pt-lg-2 pt-1 align-items-center">

                                                <div class="col-12 col-md-6">


                                                    <img src="https://cdn.vn.garenanow.com/web/kg/sinhnhat/images/pc/gift-popupimg2.png"
                                                         class="img-fluid mx-auto d-block" alt="">
                                                </div>
                                                <div class="col-12 col-md-6">

                                                    <div class="popup-text">
                                                        <p>Smartphone sang chảnh nhất hiện nay, đồng thời cũng là thiết
                                                            bị chơi
                                                            Liên Quân Mobile
                                                            mượt nhất theo đánh giá của các game thủ chuyên nghiệp. Giá
                                                            trị có
                                                            thể lên tới 8 con
                                                            số.
                                                            <br><br>
                                                            Nhưng với bạn, chỉ cần tham gia sự kiện của Liên Quân
                                                            Mobile, sẽ có
                                                            cơ hội nhận hoàn
                                                            toàn miễn phí, kèm với ốp lưng đặc biệt phiên bản Đội tuyển
                                                            Việt Nam
                                                            giới hạn của
                                                            Liên Quân.</p>


                                                    </div>


                                                </div>


                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="des-block-content ">

                            <div class="doitac-title">
                                <span class="h4 mb-0">ĐỐI TÁC KIM CƯƠNG</span>
                            </div>

                            <div class="row no-gutters align-items-center mb-4 justify-content-center">

                                {% for item in range(0,6) %}
                                <div class="col-3 col-sm-3 col-xl">
                                    <div class="doitac-item" data-toggle="modal" data-target=".des-modal-doitac"
                                         data-backdrop="">
                                        <img src="images/logo/doitackimcuong/logo{{loop.index}}.png" class="img-fluid mx-auto d-block"
                                             alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>


                            <div class="doitac-title">
                                <span class="h4 mb-0">ĐỐI TÁC VÀNG</span>
                            </div>

                            <div class="row no-gutters align-items-center justify-content-center">

                                {% for item in range(0,29) %}
                                <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                    <div class="doitac-item" data-toggle="modal" data-target=".des-modal-doitac"
                                         data-backdrop="">
                                        <img src="images/logo/doitacvang/logo{{loop.index}}.png" class="img-fluid mx-auto d-block"
                                             alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>



                            <div class="doitac-title">
                                <span class="h4 mb-0 mt-4">ĐỐI TÁC BẠC</span>
                            </div>

                            <div class="row no-gutters align-items-center justify-content-center">

                                {% for item in range(0,9) %}
                                <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                    <div class="doitac-item" data-toggle="modal" data-target=".des-modal-doitac"
                                         data-backdrop="">
                                        <img src="images/logo/doitacbac/logo{{loop.index}}.png" class="img-fluid mx-auto d-block"
                                             alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="row no-gutters align-items-center justify-content-center">

                                {% for item in range(10,18) %}
                                <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                    <div class="doitac-item" data-toggle="modal" data-target=".des-modal-doitac"
                                         data-backdrop="">
                                        <img src="images/logo/doitacbac/logo{{item}}.png" class="img-fluid mx-auto d-block"
                                             alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>


                    </div>
                </div>


            </div>


        </div>


    </div>


    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>
</div>

{% endblock %}