{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<!-- Page Loader -->

<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>


<div class="lixi-nav d-lg-none">
    <a href="">
    <img src="images/heovang/icon-li-xi.gif" width="90" alt="">

    </a>
</div>

<div class="lixi-nav2 d-lg-none">
    <div class="lixi-nav2-item ">
        <div class="text-truncate mr-3">Tải ví Momo</div>
    </div>
    <a href="" class="btn btn-light btn-sm font-weight-bold rounded-pill ">CHƠI NGAY</a>
</div>


<div class="hs-container">




    <div class="hs-action d-none d-lg-block">
        <a href=""> <img src="images/heovang/lacheo-btn.png" class="tada animated infinite slow" width="150" alt="">
        </a>
    </div>

    <div class="des-logo">
        <img src="images/heovang/momo-logo2.png" class="img-fluid d-block mx-auto">
    </div>


    <div class="container">
        <div class="animate-zoomLarge animated faster delay-2s">
            <img src="images/heovang/heovang-title.png" class="img-fluid mx-auto d-block hv-logo" width="460" alt="">
        </div>
    </div>


    <div class="hv-container">

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <!-- Swiper -->
                    <div class="hv-swiper-bg">
                        <div class="swiper-container hv-swiper">
                            <div class="swiper-wrapper nav">

                                {% for item in range(1,8) %}

                                <div data-toggle="tab" href="{{ '#heovang' + loop.index }}"
                                     class="swiper-slide {{ 'hv-active' if loop.index == 2  }}  {{ 'hv-inactive' if loop.index == 1  }}">
                                    <div class="hv-timeline">
                                        <div class="hv-timeline-name ">
                                            {{ 1 * loop.index + 1 }}:00 - 12:00 <strong>(4/2)</strong>
                                        </div>
                                        <div class="hv-timeline-cont">
                                            {{ '(Hết hạn) ' if loop.index == 1 }}

                                            {{ '(Đang lắc) ' if loop.index == 2 }}

                                            {{ '(Chưa mở) ' if (loop.index != 1 and loop.index != 2) }}
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                            </div>

                            <!-- Add Arrows -->
                            <div class="swiper-button-next swiper-button-black d-none d-lg-block"></div>
                            <div class="swiper-button-prev swiper-button-black d-none d-lg-block"></div>

                        </div>
                    </div>
                    <!-- End Swiper -->
                </div>
            </div>


            <div class="tab-content" id="">
                <div class="tab-pane fade show active" id="heovang1" role="tabpanel">
                    <div class="container text-center">
                        <div class="hv-countdown">

                            <img src="images/heovang/momo-1.png" width="60" class="hv-countdown-icon" alt="">

                            <span style="vertical-align: middle;">ĐỢT LẮC KẾT THÚC TRONG</span>

                            <div class="countdown-s2" data-date="2019/1/30"></div>
                        </div>
                    </div>


                    <div class="container pt-2 pt-lg-4 ">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="hv-gift wow fadeInUp " data-wow-duration="0.5s" data-wow-delay="0">
                                    <div class="hv-gift-img">
                                        <img src="images/heovang/hv-qua1.png" class="img-fluid d-block mx-auto" alt="">
                                    </div>

                                    <div class="hv-gift-name">
                                        Xe SH 125i 2019

                                        <div class="hv-gift-left">
                                            CÒN LẠI : 1
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="hv-gift wow fadeInUp " data-wow-duration="0.5s" data-wow-delay="">
                                    <div class="hv-gift-img">
                                        <img src="images/heovang/hv-qua1.png" class="img-fluid d-block mx-auto" alt="">
                                    </div>

                                    <div class="hv-gift-name">
                                        3 Miếng vàng

                                        <div class="hv-gift-left">
                                            CÒN LẠI : 3
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container  pt-2  pt-lg-4 ">
                        <div class="row">
                            {% for item in range(1,6) %}
                            <div class="col-6 col-lg">
                                <div class="hv-gift small wow fadeInUp " data-wow-duration="0.5s"
                                     data-wow-delay="">
                                    <div class="hv-gift-img">
                                        <img src="images/heovang/hv-qua2.png" width="100"
                                             class="img-fluid d-block mx-auto" alt="">
                                    </div>

                                    <div class="hv-gift-name">
                                        Bao Lì xì <strong>2.000.000đ</strong>

                                        <div class="hv-gift-left">
                                            CÒN LẠI : 1
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="heovang2" role="tabpanel">
                    <div class="text-center text-white">Nội dung tab 2</div>
                </div>

                <div class="tab-pane fade" id="heovang3" role="tabpanel">
                    <div class="text-center text-white">Nội dung tab 3</div>
                </div>
            </div>


        </div>


    </div>


    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>

</div>

{% endblock %}