{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>
<div class="hs-container">

    <div class="des-logo">
        <img src="images/heovang/momo-logo2.png" class="img-fluid d-block mx-auto">
    </div>


    <div class="container">
        <div class="des-title animated fadeInUp faster  delay-2-5s">
            <img src="images/lacheo-title.png" class="img-fluid mx-auto d-block" width="550" alt="">
        </div>

        <div class="animate-zoomLarge animated faster delay-2s">
            <img src="images/lixi-gift.png" class="img-fluid mx-auto d-block" width="700" alt="">
        </div>
    </div>

    <div class="text-center mt-4">

        <a href="" class="btn-lol d-none d-lg-inline-block" id="des-btn-more">KHÁM PHÁ NGAY
            <div class="btn-lol-1"></div>
            <div class="btn-lol-2"></div>
            <div class="btn-lol-3"></div>
            <div class="btn-lol-4"></div>
        </a>


    </div>


    <div class="promotion-how hs-how">

        <!-- Tab panes -->
        <div class="py-4">

            <div class="container">

                <!-- End Page Loader -->
                <div class="des-block">
                    <div class="des-block-title text-center swiper-animate-tada swiper-animated delay-0-5s">
                        HƯỚNG DẪN NHẬN QUÀ
                    </div>
                    <div class="des-block-content">
                        <nav class="nav manual-page-tab mt-4" role="tablist">
                            <a class="nav-link nav-item active" data-toggle="pill" href="#home">Cài đặt ví Momo</a>
                            <a class="nav-link nav-item" data-toggle="pill" href="#menu1">Liên kết ngân hàng</a>
                            <a class="nav-link nav-item" data-toggle="pill" href="#menu2">Chuyển tiền mừng</a>

                            <a class="nav-link nav-item" data-toggle="pill" href="#menu1">Cài đặt email</a>
                            <a class="nav-link nav-item" data-toggle="pill" href="#menu2">Thanh toán điện nước</a>
                        </nav>


                        <div class="tab-content">
                            <div class="tab-pane  active" id="home">

                                <div class="row manual-device-swiper-container">
                                    <div class="col-12 col-lg-6 order-2 order-lg-1">


                                        <div class="manual-device">

                                            <div class="manual-device-stock ">

                                            </div>

                                            <div class="manual-device-slide">

                                                <div class="swiper-container manual-device-swiper">


                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">


                                                            <img src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                                 class="img-fluid " alt="Tải ứng dụng Ví MoMo">
                                                        </div>

                                                        <div class="swiper-slide">


                                                            <img src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                                 class="img-fluid " alt="Tải ứng dụng Ví MoMo">
                                                        </div>


                                                    </div>
                                                    <!-- Add Navigation -->
                                                    <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                                    <div class="swiper-button-next swiper-button-white"></div> -->
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-12 col-lg-6 order-1 order-lg-2">


                                        <ol class="process list-unstyled manual-process">
                                            <li class="process_item active">
                                                <div class="process__number">
                                                    <span>1</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title">Xác nhận</h4>
                                                    <div class="process__body-content">
                                                        Kiểm tra thông tin và bấm "Xác nhận"
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>2</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title">Nhập lời chúc</h4>

                                                    <div class="process__body-content">
                                                        Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời chúc ý
                                                        nghĩa từ
                                                        danh sách gợi ý của Momo.
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>3</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title">Nhập số tiền bạn muốn gửi tới người
                                                        nhận</h4>

                                                    <div class="process__body-content">
                                                        <p>
                                                            Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa chọn
                                                            :
                                                        </p>
                                                        <p>
                                                            - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu 1.000đ,
                                                            tối đa
                                                            20.000.000đ), hoặc chọn 1 số tiền đẹp từ danh sách gợi ý của
                                                            Momo
                                                        </p>
                                                        <p> - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác nhau
                                                            và hệ
                                                            thống
                                                            sẽ tự động lựa chọn ngẫu nhiên trong 2 số tiền đó để gửi đến
                                                            người
                                                            nhận. Sau khi bạn hoàn tất việc gửi tiền mừng bàn và người
                                                            nhận mới
                                                            biết được số tiền mừng. HÌnh thức này mang bất ngờ thú vị có
                                                            cho cả
                                                            bạn
                                                            và người nhận;.</p>


                                                    </div>

                                                </div>
                                            </li>


                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>4</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title"> Chọn người nhận tiền mừng</h4>
                                                    <div class="process__body-content">
                                                        Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn. Chọn
                                                        người
                                                        nhận
                                                        tiền mừng bằng cách nhập số điện thoại hoặc tìm tên trong danh
                                                        bạ
                                                    </div>

                                                </div>
                                            </li>


                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>5</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title">Nhập lời chúc của bạn (không bắt
                                                        buộc)</h4>

                                                    <div class="process__body-content">
                                                        Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng sinh
                                                        nhật, tốt
                                                        nghiệp, tri ân ...) có thể vuốt ngang hoặc bấm vào xem tất cả...
                                                    </div>


                                                </div>
                                            </li>

                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>6</span>
                                                </div>
                                                <div class="process__body">
                                                    <h4 class="process__body-title">Chọn biểu tượng "Gửi tiền mừng"</h4>
                                                    <div class="process__body-content">

                                                        Kiểm tra lại thông tin và bấm "Xác nhận"
                                                    </div>

                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane  fade" id="menu1">
                                <div class="bank-select-bg">
                                    <div class="row align-items-center no-gutters justify-content-center">
                                        <div class="col-12">
                                            <div class="mb-3 d-none font-weight-bold text-uppercase text-gray text-center ">
                                                Chọn ngân hàng liên kết
                                            </div>

                                            <div class="payment-list">

                                                <div class="payment-item"><input class="payment-check" type="radio"
                                                                                 name="payOption"
                                                                                 id="payvietcombank" value=""
                                                                                 checked="">
                                                    <label for="payvietcombank">
                                                        <div class="payment-icon "><img
                                                                src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                                alt="icon"></div>
                                                        <span class="payment-cur">Vietcombank</span>
                                                    </label>
                                                </div>

                                                <div class="payment-item"><input class="payment-check" type="radio"
                                                                                 name="payOption"
                                                                                 id="payBIDV" value="">
                                                    <label for="payBIDV">
                                                        <div class="payment-icon "><img
                                                                src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/55/29/5529b6a3-4ef5-478e-9d85-96a4f0824101/bidv-logo.png__48x48_q95_crop_subsampling-2.png"
                                                                alt="icon"></div>
                                                        <span class="payment-cur">BIDV</span>
                                                    </label>
                                                </div>

                                                <div class="payment-item"><input class="payment-check" type="radio"
                                                                                 name="payOption"
                                                                                 id="payAgribank" value="">
                                                    <label for="payAgribank">
                                                        <div class="payment-icon "><img
                                                                src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                                alt="icon"></div>
                                                        <span class="payment-cur">Agribank</span>
                                                    </label>
                                                </div>

                                                {% for item in range(0,5) %}

                                                <div class="payment-item"><input class="payment-check" type="radio"
                                                                                 name="payOption"
                                                                                 id="" value="">
                                                    <label for="">
                                                        <div class="payment-icon "><img
                                                                src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                                alt="icon"></div>
                                                        <span class="payment-cur">Agribank</span>
                                                    </label>
                                                </div>

                                                {% endfor %}


                                            </div>
                                        </div>
                                        <div class="col-auto d-none">
                                            <div class="bank-select">

                                                <div class="btn-group">
                                                    <button type="button"
                                                            class="btn btn-outline-info dropdown-toggle bank-select-btn"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                             alt="img" width="24">

                                                        Vietcombank
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">
                                                            <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                                 alt="img" width="24">

                                                            Vietcombank
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/55/29/5529b6a3-4ef5-478e-9d85-96a4f0824101/bidv-logo.png__48x48_q95_crop_subsampling-2.png"
                                                                 alt="img" width="24">

                                                            BIDV
                                                        </a>

                                                        <a class="dropdown-item" href="#">
                                                            <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                                 alt="img" width="24">

                                                            Agribank
                                                        </a>

                                                        <a class="dropdown-item" href="#">
                                                            <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/37/37/373774ec-1882-4735-a22b-bee3eef62ace/vtb-logo-web.png__48x48_q95_crop_subsampling-2.png"
                                                                 alt="img" width="24">

                                                            VietinBank
                                                        </a>


                                                    </div>
                                                </div>


                                                <div class="bank-select-item">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="text-center d-block d-sm-none mb-2">
                                    Hướng dẫn liên kết ngân hàng Vietcombank
                                </h4>

                                <div class="row manual-device-swiper-container">
                                    <div class="col-12 col-lg-6 order-2 order-lg-1">


                                        <div class="manual-device">

                                            <div class="manual-device-stock ">

                                            </div>

                                            <div class="manual-device-slide">

                                                <div class="swiper-container manual-device-swiper">


                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">


                                                            <img src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                                 class="img-fluid lazyloaded"
                                                                 alt="Tải ứng dụng Ví MoMo">
                                                        </div>
                                                        <div class="swiper-slide">


                                                            <img src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                                 class="img-fluid lazyloaded"
                                                                 alt="Tải ứng dụng Ví MoMo">
                                                        </div>


                                                    </div>
                                                    <!-- Add Navigation -->
                                                    <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                                            <div class="swiper-button-next swiper-button-white"></div> -->
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-12 col-lg-6 order-1 order-lg-2">


                                        <ol class="process list-unstyled manual-process">
                                            <li class="process_item active">
                                                <div class="process__number">
                                                    <span>1</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title">Xác nhận</h4>
                                                    <div class="process__body-content">
                                                        Kiểm tra thông tin và bấm "Xác nhận"
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>2</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title">Nhập lời chúc</h4>

                                                    <div class="process__body-content">
                                                        Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời chúc ý
                                                        nghĩa từ
                                                        danh sách gợi ý của Momo.
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>3</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title">Nhập số tiền bạn muốn gửi tới người
                                                        nhận</h4>

                                                    <div class="process__body-content">
                                                        <p>
                                                            Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa chọn
                                                            :
                                                        </p>
                                                        <p>
                                                            - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu 1.000đ,
                                                            tối đa
                                                            20.000.000đ), hoặc chọn 1 số tiền đẹp từ danh sách gợi ý của
                                                            Momo
                                                        </p>
                                                        <p> - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác nhau
                                                            và hệ
                                                            thống
                                                            sẽ tự động lựa chọn ngẫu nhiên trong 2 số tiền đó để gửi đến
                                                            người
                                                            nhận. Sau khi bạn hoàn tất việc gửi tiền mừng bàn và người
                                                            nhận mới
                                                            biết được số tiền mừng. HÌnh thức này mang bất ngờ thú vị có
                                                            cho cả
                                                            bạn
                                                            và người nhận;.</p>


                                                    </div>

                                                </div>
                                            </li>


                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>4</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title"> Chọn người nhận tiền mừng</h4>
                                                    <div class="process__body-content">
                                                        Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn. Chọn
                                                        người
                                                        nhận
                                                        tiền mừng bằng cách nhập số điện thoại hoặc tìm tên trong danh
                                                        bạ
                                                    </div>

                                                </div>
                                            </li>


                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>5</span>
                                                </div>
                                                <div class="process__body">

                                                    <h4 class="process__body-title">Nhập lời chúc của bạn (không bắt
                                                        buộc)</h4>

                                                    <div class="process__body-content">
                                                        Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng sinh
                                                        nhật, tốt
                                                        nghiệp, tri ân ...) có thể vuốt ngang hoặc bấm vào xem tất cả...
                                                    </div>


                                                </div>
                                            </li>

                                            <li class="process_item">
                                                <div class="process__number">
                                                    <span>6</span>
                                                </div>
                                                <div class="process__body">
                                                    <h4 class="process__body-title">Chọn biểu tượng "Gửi tiền mừng"</h4>
                                                    <div class="process__body-content">

                                                        Kiểm tra lại thông tin và bấm "Xác nhận"
                                                    </div>

                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>


            </div>


        </div>


    </div>



    <div class=" pt-2 pt-sm-4 hs-thele">
        <div class="container">

            <div class="des-block">
                <div class="des-block-title text-center swiper-animate-tada swiper-animated delay-0-5s">
                    Hỏi đáp
                </div>

                <div class="des-block-content">

                    <ul class="nav tt-nav   " id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#huongdan-1" role="tab"
                               aria-controls="pills-home" aria-selected="true">Thể lệ chương trình</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                               aria-controls="pills-profile" aria-selected="false">Cách nhận thưởng</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                               aria-controls="pills-profile" aria-selected="false">Giỏ quà</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                               aria-controls="pills-profile" aria-selected="false">Cách sử dụng quà</a>
                        </li>

                    </ul>


                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="huongdan-1" role="tabpanel"
                             aria-labelledby="pills-home-tab">


                            <div id="promotionThele" class="help-center-accordion promotion-accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#promotionThele1">
                                            Đối tượng

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="promotionThele1" class="collapse show" data-parent="#promotionThele">
                                        <div class="card-body">
                                            Khách hàng có ví MoMo trên smartphone thuộc hệ điều hành Android hoặc iOS.
                                            Có tài
                                            khoản
                                            ngân
                                            hàng Vietcombank, VietinBank, BIDV, ACB, TPBank, VPBank, OCB, Eximbank, VIB,
                                            thẻ nội
                                            địa
                                            Sacombank, Shinhan Bank hoặc SCB.
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele2">
                                            Điều kiện tham gia

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="promotionThele2" class="collapse" data-parent="#promotionThele">
                                        <div class="card-body">
                                            <div>Chưa cập nhập nội dung ...</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele3">
                                            Các bước thực hiện

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="promotionThele3" class="collapse" data-parent="#promotionThele">
                                        <div class="card-body">
                                            <div>Chưa cập nhập nội dung ...</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele4">
                                            Cơ cấu quà tặng

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="promotionThele4" class="collapse" data-parent="#promotionThele">
                                        <div class="card-body">
                                            <div>Chưa cập nhập nội dung ...</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele5">
                                            Quy định về thẻ quà tặng

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="promotionThele5" class="collapse" data-parent="#promotionThele">
                                        <div class="card-body">
                                            <div>Chưa cập nhập nội dung ...</div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                        <div class="tab-pane fade" id="huongdan-2" role="tabpanel" aria-labelledby="pills-profile-tab">
                            ...
                        </div>

                    </div>


                </div>
            </div>


        </div>
    </div>





    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>

</div>

{% endblock %}