{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}


<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>


<div class="fullpage-container">
    <div class="bg-dongxu">
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-footer-190111084655.png" class="w-100" alt="">
    </div>

    <div id="fullpage">



        <div class="section">


            <div class="container fullpage-padding">

                <div class="des-logo">
                    <img src="images/heovang/momo-logo2.png" class="img-fluid d-block mx-auto">
                </div>

                <div class="des-title swiper-animated swiper-animate-fadeInUp faster   delay-1s">
                    <img src="images/lacheo-title.png" class="img-fluid mx-auto d-block" width="550" alt="">
                </div>

                <div class="swiper-animate-zoomLarge swiper-animated fastest delay-0-5s">
                    <img src="images/lixi-gift.png" class="img-fluid mx-auto d-block" width="600" alt="">
                </div>
            </div>

            <div class="des-scroll-btn">

                <a href="" class="btn-lol " id="des-btn-more">CHƠI NGAY
                    <div class="btn-lol-1"></div>
                    <div class="btn-lol-2"></div>
                    <div class="btn-lol-3"></div>
                    <div class="btn-lol-4"></div>
                </a>


            </div>


        </div>

        <div class="section">
            <div class="container fullpage-padding">
                <div class="des-block">
                    <div class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">
                        CHIA SẼ NHẬN QUÀ
                    </div>

                    <div class="des-block-content">

                        <div class="row no-gutters des-qua">
                            <div class="col-6 mb-2 ml-0 col-lg-3 des-qua-item">
                                <img src="images/qua1.png"
                                     class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeInUp swiper-animated faster "
                                     alt="">
                            </div>

                            <div class="col-6  mb-2 ml-0 col-lg-3 des-qua-item">
                                <img src="images/qua2.png"
                                     class="img-fluid mx-auto d-block  des-qua-img  swiper-animate-fadeInUp swiper-animated faster "
                                     alt="">
                            </div>


                            <div class="col-6 mb-2 ml-0 col-lg-3 des-qua-item">
                                <img src="images/qua3.png"
                                     class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeInUp swiper-animated faster "
                                     alt="">
                            </div>

                            <div class="col-6 mb-2 ml-0 col-lg-3 des-qua-item">
                                <img src="images/qua4.png"
                                     class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeInUp swiper-animated faster "
                                     alt="">
                            </div>


                        </div>
                    </div>


                </div>
            </div>

            <div class="des-scroll-btn">

                <a href="" class="btn-lol ">CHIA SẼ NGAY
                    <div class="btn-lol-1"></div>
                    <div class="btn-lol-2"></div>
                    <div class="btn-lol-3"></div>
                    <div class="btn-lol-4"></div>
                </a>


            </div>


        </div>
        <div class="section">

            <div class="container fullpage-padding">


                <div class="nk-modal modal fade des-modal-qua" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">

                    <div class="modal-bg-close" data-dismiss="modal"></div>

                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <div class="container-fluid bd-example-row">
                                    <h2 class="text-center h1 my-3">Iphone XS Max</h2>
                                    <div class="row pt-lg-4 pt-1 align-items-center">

                                        <div class="col-12 col-md-6">
                                            <img src="https://cdn.vn.garenanow.com/web/kg/sinhnhat/images/pc/gift-popupimg2.png"
                                                 class="img-fluid mx-auto d-block" alt="">
                                        </div>
                                        <div class="col-12 col-md-6">

                                            <div class="popup-text">
                                                <p>Smartphone sang chảnh nhất hiện nay, đồng thời cũng là thiết bị chơi
                                                    Liên Quân Mobile
                                                    mượt nhất theo đánh giá của các game thủ chuyên nghiệp. Giá trị có
                                                    thể lên tới 8 con
                                                    số.
                                                    <br><br>
                                                    Nhưng với bạn, chỉ cần tham gia sự kiện của Liên Quân Mobile, sẽ có
                                                    cơ hội nhận hoàn
                                                    toàn miễn phí, kèm với ốp lưng đặc biệt phiên bản Đội tuyển Việt Nam
                                                    giới hạn của
                                                    Liên Quân.</p>
                                                <p><strong>Chỉ có tại sự kiện:</strong></p>
                                                <ul class="ltogift link-to-event">
                                                    <li><a href="#trevent1" class="text-white">25 tháng 11, hốt cả biển
                                                        quà</a></li>
                                                    <li><a href="#trevent2">10 triệu lời chúc, 10 triệu món quà</a></li>
                                                    <li><a href="#trevent3">Ô trỏ kì diệu </a></li>
                                                    <!-- <li><a href="#trevent4">Non proident, sunt in culpa qui officia d</a></li> -->
                                                </ul>

                                            </div>
                                            <div class="text-center">
                                                <a href="" data-dismiss="modal" class="btn-lol ">XEM QUÀ KHÁC
                                                    <div class="btn-lol-1"></div>
                                                    <div class="btn-lol-2"></div>
                                                    <div class="btn-lol-3"></div>
                                                    <div class="btn-lol-4"></div>
                                                </a>

                                            </div>

                                        </div>


                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="des-block">
                    <div class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">
                        QUÀ TẶNG
                    </div>

                    <div class="des-block-content">

                        <div class="row  des-qua">

                            {% for item in range(0,6) %}
                            <div class="col-6 mb-1  col-lg-4 des-qua-item">
                                <div data-toggle="modal" data-target=".des-modal-qua" data-backdrop="">
                                    <img src="images/gift-1.png" width="280"
                                         class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeIn swiper-animated faster "
                                         alt=""></div>
                            </div>

                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="section">
            <div class="container fullpage-padding">
                <div class="des-block des-block-skt">
                    <div class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">
                        TIN TỨC
                    </div>

                    <div class="des-block-content des-block-content-tintuc">

                        <div class="row  ">
                            <div class="col-12 col-lg-10 offset-lg-1">

                                <div class="new-feature"
                                     style="background-image: url(https://momo.vn/Contents/Images/background.png)">

                                    <div class="new-feature-content">
                                        <div class="new-cat">
                                            <a href="">TIN TỨC SỰ KIỆN</a>
                                        </div>

                                        <h3 class="new-feature-title"><a href="" class=""  data-toggle="modal" data-target=".des-modal-scroll" data-backdrop="" >
                                            Nhận ngay 100.000đ thanh toán mọi hóa đơn VNPT trên Ví MoMo
                                        </a></h3>

                                        <ul class="new-meta clearfix list-inline mb-0">
                                            <li class="list-inline-item">
                                                1 giờ trước
                                            </li>
                                            <li class="list-inline-item">
                                                <svg class="svg-icon  new-meta-svg">
                                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                </svg>
                                                2 bình luận
                                            </li>
                                        </ul>

                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-4">
                                        <div class="new-item ">
                                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                                <img data-src="https://static.mservice.io/Images/2018/09/19/kv-ve-tau-50_19101426.jpg"
                                                     class="embed-responsive-img lazyloaded" alt=""
                                                     src="https://static.mservice.io/Images/2018/09/19/kv-ve-tau-50_19101426.jpg">

                                                <div class="new-cat">
                                                    <a href="">TIN KHUYẾN MÃI</a>
                                                </div>
                                            </div>

                                            <div class="new-item-content">

                                                <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                                              class="link-black">Có MoMo -
                                                    Thanh toán Thẻ Vay
                                                    VietCredit siêu nhanh, có ngay “trợ lý điện tử”</a></h4>

                                                <ul class="new-meta clearfix list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        2 giờ trước
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <svg class="svg-icon  new-meta-svg">
                                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                        </svg>
                                                        0 bình luận
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4">
                                        <div class="new-item ">
                                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                                <img src="https://momo.vn/Images/2018/08/25/kv-vissan-3-1200x628_251235518.png"
                                                     class="embed-responsive-img" alt="">

                                                <div class="new-cat">
                                                    <a href="">TIN KHUYẾN MÃI</a>
                                                </div>
                                            </div>

                                            <div class="new-item-content">

                                                <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                                              class="link-black">Có MoMo, có
                                                    sức sống mỗi ngày
                                                    từ Vissan!</a></h4>

                                                <ul class="new-meta clearfix list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        2 giờ trước
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <svg class="svg-icon  new-meta-svg">
                                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                        </svg>
                                                        0 bình luận
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4">
                                        <div class="new-item ">
                                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                                <img data-src="https://momo.vn/Images/2018/08/11/bh-vietinbank-1200x628_11100863.png"
                                                     class="embed-responsive-img lazyloaded" alt=""
                                                     src="https://momo.vn/Images/2018/08/11/bh-vietinbank-1200x628_11100863.png">
                                                <div class="new-cat">
                                                    <a href="">TIN KHUYẾN MÃI</a>
                                                </div>

                                            </div>

                                            <div class="new-item-content">

                                                <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                                              class="link-black">Mua bảo hiểm
                                                    VietinBank ngay
                                                    trên ứng dụng Ví MoMo</a></h4>

                                                <ul class="new-meta clearfix list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        2 giờ trước
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <svg class="svg-icon  new-meta-svg">
                                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                        </svg>
                                                        0 bình luận
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-12 text-center mt-4">
                                <a href="" class="btn btn-pink rounded-pill">XEM TẤT CẢ</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>



        </div>


        <div class="section">
            <div class="container fullpage-padding">
                <div class="des-block des-block-skt">
                    <div class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">
                        NHIỆM VỤ THU THẬP LƯỢT LẮC
                    </div>

                    <div class="des-block-content">

                        <div class="row  ">


                            <div class="col-6 col-md-4">

                                {% set btngroup1 = [
                                "Liên kết ngân hàng",
                                "Tạo mã lì xì",
                                "Chia sẽ Facebook",
                                "Nhõng nhẽo"
                                ]
                                %}

                                {% for item in btngroup1 %}
                                <a href=""
                                   class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4 ">
                                    {{ item }}
                                </a>
                                {% endfor %}

                            </div>

                            <div class="col-4 d-none d-md-block">
                                <img src="images/momo-funny.png" class="img-fluid mx-auto d-block" alt="">
                            </div>

                            <div class="col-6 col-md-4">
                                {% set btngroup1 = [
                                "Hộp quà bí ẩn",
                                "Lắc heo vàng",
                                "Sưa tầm",
                                "Hào phóng"
                                ]
                                %}

                                {% for item in btngroup1 %}
                                <a href=""
                                   class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4 ">
                                    {{ item }}
                                </a>
                                {% endfor %}
                            </div>

                            <div class="col-12 text-center mt-4">
                                <a href="" class="btn btn-pink rounded-pill">XEM TẤT CẢ</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="des-scroll-down des-slideTop up text-uppercase d-block d-lg-none">

                <div class="des-scroll-icon">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 284.929 284.929" version="1.1" viewBox="0 0 284.93 284.93"
                         xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m282.08 76.511-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661 0.95-6.563 2.856l-112.21 112.2-112.2-112.2c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665 0.95-6.567 2.856l-14.272 14.274c-1.906 1.902-2.856 4.092-2.856 6.567 0 2.473 0.953 4.663 2.856 6.565l133.04 133.05c1.902 1.903 4.093 2.854 6.567 2.854s4.661-0.951 6.562-2.854l133.05-133.05c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-0.945-4.665-2.847-6.571z"/>
                    </svg>
                </div>

                Lên trên


            </div>
        </div>


    </div>

    <div class="des-nav-btn">
        <img src="images/menu.svg" alt="">
    </div>

    <div class="des-nav-pos">

        <div class="des-nav-close d-block d-lg-none">
            <svg class="" width="50px" height="50px" enable-background="new 0 0 174.239 174.239" version="1.1"
                 viewBox="0 0 174.24 174.24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g fill="#FCFBFB">
            <path class="active-path"
                  d="M87.12,0C39.082,0,0,39.082,0,87.12s39.082,87.12,87.12,87.12s87.12-39.082,87.12-87.12S135.157,0,87.12,0z M87.12,159.305   c-39.802,0-72.185-32.383-72.185-72.185S47.318,14.935,87.12,14.935s72.185,32.383,72.185,72.185S126.921,159.305,87.12,159.305z"
                  data-old_color="#F9F8F8" data-original="#000000"/>
            <path class="active-path"
                  d="m120.83 53.414c-2.917-2.917-7.647-2.917-10.559 0l-23.151 23.154-23.151-23.154c-2.917-2.917-7.642-2.917-10.559 0s-2.917 7.642 0 10.559l23.151 23.153-23.152 23.154c-2.917 2.917-2.917 7.642 0 10.559 1.458 1.458 3.369 2.188 5.28 2.188s3.824-0.729 5.28-2.188l23.151-23.153 23.151 23.153c1.458 1.458 3.369 2.188 5.28 2.188s3.821-0.729 5.28-2.188c2.917-2.917 2.917-7.642 0-10.559l-23.152-23.153 23.151-23.153c2.917-2.917 2.917-7.643 0-10.56z"
                  data-old_color="#F9F8F8" data-original="#000000"/>
        </g>
        </svg>
        </div>


        <div class="des-nav ">
            <div class="animated fadeInLeft delay-1s faster des-nav-bg">

                <div class="des-nav-item is-active" data-tar="0">
                    THÔNG TIN
                </div>
                <div class="des-nav-item" data-tar="1">
                    CHIA SẼ NHẬN QUÀ
                </div>
                <div class="des-nav-item" data-tar="2">
                    QUÀ TẶNG ĐẶC BIỆT
                </div>

                <div class="des-nav-item">
                    TOP TUẦN
                </div>

                <div class="des-nav-item">
                    LUCKY DRAW
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade des-modal-scroll nk-modal "  tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-bg-close" data-dismiss="modal"></div>

        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="container-fluid bd-example-row">
                        <h2 class="text-center h4 my-3">Iphone XS Max</h2>
                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>


                    </div>
                </div>

            </div>
        </div>


    </div>


    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>
</div>



<div class="modal fade modal-push" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="row no-gutters">
                    <div class="col-auto ">

                        <div class="push-avatar">
                            <img src="images/push-momo-avatar.png" class="img-fluid" alt="">
                        </div>



                    </div>
                    <div class="col ">
                        <div class=" font-weight-normal push-text">
                            Nhận tin tức khuyến mãi, giảm giá hot nhất từ Momo?
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="text-right mt-2">
                            <button class="btn btn-link  btn-link-material mr-2 " data-dismiss="modal"> ĐỂ SAU </button>
                            <button class="btn btn-material "> NHẬN THÔNG BÁO </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>


<div aria-live="polite" aria-atomic="true"  autohide="true" style="position: fixed; bottom: 15px; right: 15px; z-index: 9999999999;">

    <div role="alert" aria-live="assertive" data-animation="true" aria-atomic="true" class="toast" data-autohide="false">
            <button type="button" class="des-toast-close  close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

       <div class="row no-gutters align-items-center des-toast">
           <div class="col-auto">
                <img src="images/push-momo-avatar.png" width="40" class="rounded " alt="...">
           </div>
           <div class="col">
              
                <div class="des-toast-content">
                    <div class="des-toast-title text-truncate">Momo thông báo</div>

                   <div class="des-toast-txt">
                        Hello, world! This is a toast message.
                   </div>
                </div>

           </div>
       </div>
     


    </div>

    <div role="alert" aria-live="assertive" data-animation="true" aria-atomic="true" class="toast" data-autohide="false">
        <div class="toast-header">
        <img src="images/push-momo-avatar.png" width="20" class="rounded mr-2" alt="...">
        <strong class="mr-auto">Momo thông báo</strong>
        <!-- <small>11 mins ago</small> -->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="toast-body">
        Hello, world! This is a toast message.
        </div>
    </div>
</div>

{% endblock %}



{% block javascript %}




{{super()}}

<script>
    $(document).ready(function(){
        $('#modalSlideUp').modal('show');

        $('.toast').toast('show');

        // $('.toast').toast('hide');
    })
</script>



{% endblock %}