{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<!-- Page Loader -->

<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>


<div class="hs-container">


    <div class="bg-dongxu">
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-footer-190111084655.png" class="w-100" alt="">
    </div>

    <div class="hs-action d-none d-lg-block">
        <a href=""> <img src="images/heovang/lacheo-btn.png" class="tada animated infinite slow" width="150" alt="">
        </a>
    </div>

    <div class="des-logo">
        <img src="images/heovang/momo-logo2.png" class="img-fluid d-block mx-auto">
    </div>


    <div class="container">
        <div class="animate-zoomLarge animated faster delay-2s">
            <img src="images/heovang/2ty-titole.png" class="img-fluid mx-auto d-block hv-logo" width="700" alt="">
        </div>
    </div>


    <div class="container lh-img-container">

        <div class="row no-gutters">
            {% for item in range(0,4) %}
            <div class="col-6 col-md-3 ">


                <div class="lh-img fadeInUp wow" data-wow-duration="0.5s" data-wow-delay="{{1.5 + loop.index * 0.25}}s">
                    <img src="images/heovang/thuthap1.png" class="img-fluid d-block mx-auto" alt="">
                </div>

                <!--<div class="lh-item text-uppercase fadeInUp wow" data-wow-duration="0.5s" data-wow-delay="{{1.5 + loop.index * 0.25}}s"  >

                    <div class="lh-item-img">
                        <img src="images/heovang/momo-round.png" class="img-fluid d-block mx-auto" alt="">
                    </div>

                    Thu thập <br>
                    bộ 3 tam hợp
                </div>-->
            </div>

            {% endfor %}
        </div>

    </div>


    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>

</div>

{% endblock %}