{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}
{% block css %}

<link rel="stylesheet" href="custom.css">

{% endblock %}

{% block content %}


<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>


<div class="fullpage-container">
    <div class="bg-dongxu">
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-footer-190111084655.png" class="w-100" alt="">
    </div>

    <div id="fullpage">



        <div class="section">
            <div class="container fullpage-padding">
                <div class="des-logo"><img alt="Ví Điện Tử MoMo - Siêu Ứng Dụng Thanh Toán số 1 Việt Nam"
                                           class="img-fluid d-block mx-auto"
                                           src="https://static.mservice.io/blogscontents/momo-upload-api-logo-website-190117103359.png"
                                           width="250px"/></div>

                <div class="des-title tada animated infinite slow"><img alt="Lắc xì MoMo"
                                                                        class="img-fluid mx-auto d-block"
                                                                        src="https://static.mservice.io/blogscontents/momo-upload-api-lac-xi-190110170919.png"
                                                                        width="450"/></div>

                <div class="swiper-animated swiper-animate-zoomLarge fastest delay-1s"><img
                        alt="Chí Tài chơi Lắc Xì MoMo - Tổng giá trị giải thưởng 100 tỷ đồng"
                        class="img-fluid mx-auto d-block"
                        src="https://static.mservice.io/blogscontents/momo-upload-api-main-1-190117111348.png"
                        width="520"/></div>
            </div>

            <div class="des-scroll-btn"><a class="btn btn-yellow font-weight-bold rounded-pill" href=""
                                           id="des-btn-more">T&Igrave;M HIỂU NGAY</a></div>
        </div>
        <div class="section">
            <div class="container fullpage-padding">
                <div class="des-logo"><img class="img-fluid d-block mx-auto"
                                           src="https://static.mservice.io/blogscontents/momo-upload-api-logo-website-190117103359.png"
                                           width="250px"/></div>

                <div class="des-block">
                    <h1 class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">Lắc X&igrave; - Lắc Heo V&agrave;ng
                        - Nhận L&igrave; X&igrave;</h1>

                    <div class="des-block-content text-left">
                        <p style="text-align: justify;">Từ ng&agrave;y 21/01/2019, t&iacute;nh năng Lắc X&igrave; - Lắc
                            Heo V&agrave;ng, Nhận L&igrave; X&igrave; ch&iacute;nh thức ra mắt đến người d&ugrave;ng V&iacute;
                            MoMo trong dịp Tết Kỷ Hợi 2019. Tất cả kh&aacute;ch h&agrave;ng c&agrave;i đặt mới hoặc cập
                            nhật Ứng dụng V&iacute; MoMo trong thời gian n&agrave;y đều được tham gia tr&ograve; chơi
                            Lắc Heo V&agrave;ng để c&oacute; thể nhận được rất nhiều qu&agrave; tặng khủng từ V&iacute;
                            MoMo như: Xe Honda SH, xe Vespa, Macbook, iPhone v&agrave; h&agrave;ng ng&agrave;n qu&agrave;
                            tặng gi&aacute; trị kh&aacute;c. Chương tr&igrave;nh sẽ diễn ra đến hết ng&agrave;y
                            24/02/2019 hoặc đến khi c&oacute; th&ocirc;ng b&aacute;o chương tr&igrave;nh kết th&uacute;c.</p>
                    </div>




                </div>

                <div class="livefeed" id="livefeed">


                </div>
            </div>


            <div class="des-scroll-btn"><a class="btn btn-yellow font-weight-bold rounded-pill"
                                           href="https://momoapp.page.link/fdov34dZZhZb5Lxj8" id="des-btn-more">LẮC&nbsp;NGAY </a>
            </div>
        </div>
        <div class="section">


            <div class="container fullpage-padding">


                <div class="des-block">
                    <div class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">NH&#x1EAC;N L&#xCC; X&#xCC;</div>

                    <div class="des-block-content">
                        <h2 class="h6 text-center">L&#x1EAF;c c&#xE0;ng nhi&#x1EC1;u, qu&#xE0; c&#xE0;ng to. L&#x1EAF;c
                            ngay b&#x1EA1;n &#x1A1;i!</h2>
                        <div class="row  des-qua">

                            <div class="col-6 mb-1  col-lg-4 des-qua-item">
                                <div data-backdrop="" data-target="#des-modal-144" data-toggle="modal">
                                    <img alt=""
                                         class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeIn swiper-animated faster "
                                         src="https://static.mservice.io/img/momo-upload-api-xe-sh-190111133232.png"
                                         width="280"/></div>
                            </div>
                            <div class="col-6 mb-1  col-lg-4 des-qua-item">
                                <div data-backdrop="" data-target="#des-modal-145" data-toggle="modal">
                                    <img alt=""
                                         class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeIn swiper-animated faster "
                                         src="https://static.mservice.io/img/momo-upload-api-vespa-190111133238.png"
                                         width="280"/></div>
                            </div>
                            <div class="col-6 mb-1  col-lg-4 des-qua-item">
                                <div data-backdrop="" data-target="#des-modal-146" data-toggle="modal">
                                    <img alt=""
                                         class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeIn swiper-animated faster "
                                         src="https://static.mservice.io/img/momo-upload-api-vang-190111133244.png"
                                         width="280"/></div>
                            </div>
                            <div class="col-6 mb-1  col-lg-4 des-qua-item">
                                <div data-backdrop="" data-target="#des-modal-147" data-toggle="modal">
                                    <img alt=""
                                         class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeIn swiper-animated faster "
                                         src="https://static.mservice.io/img/momo-upload-api-iphone-190111133216.png"
                                         width="280"/></div>
                            </div>
                            <div class="col-6 mb-1  col-lg-4 des-qua-item">
                                <div data-backdrop="" data-target="#des-modal-148" data-toggle="modal">
                                    <img alt=""
                                         class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeIn swiper-animated faster "
                                         src="https://static.mservice.io/img/momo-upload-api-tai-nghe-190111133221.png"
                                         width="280"/></div>
                            </div>
                            <div class="col-6 mb-1  col-lg-4 des-qua-item">
                                <div data-backdrop="" data-target="#des-modal-149" data-toggle="modal">
                                    <img alt=""
                                         class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeIn swiper-animated faster "
                                         src="https://static.mservice.io/img/momo-upload-api-giai-khac-190111133226.png"
                                         width="280"/></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="des-scroll-down des-slideNext text-uppercase d-block d-lg-none">
                Xem tiếp
                <div class="des-scroll-icon"><!--?xml version="1.0" encoding="UTF-8" ?-->
                    <svg enable-background="new 0 0 284.929 284.929" version="1.1" viewbox="0 0 284.93 284.93"
                         xml:space="preserve" xmlns="http://www.w3.org/2000/svg"> <path
                            d="m282.08 76.511-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661 0.95-6.563 2.856l-112.21 112.2-112.2-112.2c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665 0.95-6.567 2.856l-14.272 14.274c-1.906 1.902-2.856 4.092-2.856 6.567 0 2.473 0.953 4.663 2.856 6.565l133.04 133.05c1.902 1.903 4.093 2.854 6.567 2.854s4.661-0.951 6.562-2.854l133.05-133.05c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-0.945-4.665-2.847-6.571z"></path> </svg>
                </div>
            </div>


        </div>
        <div class="section">
            <div class="container fullpage-padding">
                <div class="des-block">
                    <div class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">SỰ KIỆN HOT</div>

                    <div class="des-block-content">
                        <h2 class="h6 text-center">Cơ hội tr&uacute;ng xe honda SH, xe Vespa, Macbook, iPhone v&agrave;
                            h&agrave;ng ng&agrave;n giải thưởng hấp dẫn kh&aacute;c.</h2>

                        <div class="row no-gutters des-qua">
                            <div class="col-6 mb-2 ml-0 col-lg-3 des-qua-item"><a href="/lixi/thu-thap-12-con-giap"><img
                                    alt="Thu thập 12 con giáp"
                                    class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeInUp swiper-animated faster "
                                    src="https://static.mservice.io/blogscontents/momo-upload-api-thu-thap-12-con-giap-190117150807.png"/>
                            </a></div>

                            <div class="col-6  mb-2 ml-0 col-lg-3 des-qua-item"><a
                                    href="/lixi/gio-vang-thit-heo-vang"><img alt="Giờ vàng thịt heo vàng"
                                                                             class="img-fluid mx-auto d-block  des-qua-img  swiper-animate-fadeInUp swiper-animated faster "
                                                                             src="https://static.mservice.io/blogscontents/momo-upload-api-peak-time-190117150841.png"/></a>
                            </div>

                            <div class="col-6 mb-2 ml-0 col-lg-3 des-qua-item"><a href="#"><img
                                    alt="Đua lượt lắc hàng tuần, top 100 thánh lắc MoMo"
                                    class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeInUp swiper-animated faster "
                                    src="https://static.mservice.io/blogscontents/momo-upload-api-dua-top-190117150913.png"/></a>
                            </div>

                            <div class="col-6 mb-2 ml-0 col-lg-3 des-qua-item"><img alt="Vòng quay may mắn"
                                                                                    class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeInUp swiper-animated faster "
                                                                                    src="https://static.mservice.io/blogscontents/momo-upload-api-vong-xoay-190117150938.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="des-scroll-down des-slideNext text-uppercase d-block d-lg-none">Xem tiếp
                <div class="des-scroll-icon"><!--?xml version="1.0" encoding="UTF-8" ?-->
                    <svg enable-background="new 0 0 284.929 284.929" version="1.1" viewbox="0 0 284.93 284.93"
                         xml:space="preserve" xmlns="http://www.w3.org/2000/svg"> <path
                            d="m282.08 76.511-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661 0.95-6.563 2.856l-112.21 112.2-112.2-112.2c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665 0.95-6.567 2.856l-14.272 14.274c-1.906 1.902-2.856 4.092-2.856 6.567 0 2.473 0.953 4.663 2.856 6.565l133.04 133.05c1.902 1.903 4.093 2.854 6.567 2.854s4.661-0.951 6.562-2.854l133.05-133.05c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-0.945-4.665-2.847-6.571z"></path> </svg>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container fullpage-padding">
                <div class="des-block des-block-skt">
                    <div class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">NHIỆM VỤ - TH&Ecirc;M
                        LƯỢT LẮC
                    </div>

                    <div class="des-block-content">
                        <div class="row  ">
                            <div class="col-6 col-md-4 swiper-animate-fadeIn  swiper-animated faster">
                                <a class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4"
                                   href="/lixi/gui-li-xi">Gửi l&igrave; x&igrave;</a>
                                <a class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4 "
                                   href="/lixi/doi-li-xi"> Đ&ograve;i l&igrave; x&igrave;</a>
                                <a class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4 "
                                   href="/lixi/lien-ket-ngan-hang">
                                    Li&ecirc;n kết ng&acirc;n h&agrave;ng </a>
                                <a class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4 "
                                   href="/lixi/gioi-thieu-ban-be"> Giới thiệu bạn b&egrave; </a></div>

                            <div class="col-4 d-none d-md-block  swiper-animated swiper-animate-zoomLarge faster">
                                <img alt="" class="img-fluid mx-auto d-block" height="319"
                                     src="/fullscreenpage/images/icon-li-xi.gif"/></div>

                            <div class="col-6 col-md-4 swiper-animate-fadeIn  swiper-animated faster">
                                <a class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4"
                                   href="/lixi/giat-li-xi">Giật l&igrave; x&igrave; </a>
                                <a class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4"
                                   href="#"> Tranh điểm đổi qu&agrave; </a>
                                <a class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4"
                                   href="/lixi/lac-li-xi"> Lắc Heo V&agrave;ng </a>
                                <a class="btn btn-outline-primary btn-lg btn-block btn-skt rounded-pill mb-2 mb-lg-4"
                                   href="#"> Chia sẻ facebook </a></div>

                            <div class="col-12 text-center mt-4"><a class="btn btn-yellow font-weight-bold rounded-pill"
                                                                    href="/lixi/san-luot-lac">XEM TẤT CẢ</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="des-scroll-down des-slideNext text-uppercase d-block d-lg-none">Xem tiếp
                <div class="des-scroll-icon"><!--?xml version="1.0" encoding="UTF-8" ?-->
                    <svg enable-background="new 0 0 284.929 284.929" version="1.1" viewbox="0 0 284.93 284.93"
                         xml:space="preserve" xmlns="http://www.w3.org/2000/svg"> <path
                            d="m282.08 76.511-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661 0.95-6.563 2.856l-112.21 112.2-112.2-112.2c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665 0.95-6.567 2.856l-14.272 14.274c-1.906 1.902-2.856 4.092-2.856 6.567 0 2.473 0.953 4.663 2.856 6.565l133.04 133.05c1.902 1.903 4.093 2.854 6.567 2.854s4.661-0.951 6.562-2.854l133.05-133.05c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-0.945-4.665-2.847-6.571z"></path> </svg>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container fullpage-padding">
                <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="nk-modal modal fade des-modal-qua"
                     id="des-modal-newuser-1" role="dialog" tabindex="-1">
                    <div class="modal-bg-close" data-dismiss="modal">&nbsp;</div>

                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                        aria-hidden="true">&times;</span></button>

                                <div class="container-fluid bd-example-row">
                                    <h2 class="text-center h1 my-3">G&oacute;i Qu&agrave; Bốn M&ugrave;a Sinh Lộc</h2>
                                    &nbsp;

                                    <table border="1" cellpadding="10" style="margin:0px auto;width:100%;border: none;">
                                        <tbody>
                                        <tr>
                                            <td>T&ecirc;n thẻ qu&agrave;</td>
                                            <td><strong>Trị Gi&aacute;</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>30,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>30,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Thanh to&aacute;n điện, nước,...</td>
                                            <td><strong>50,000 đ</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Xem phim</td>
                                            <td><strong>50,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Thanh to&aacute;n c&agrave; ph&ecirc;, tr&agrave; sữa...</td>
                                            <td><strong>50,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Circle K, Ministop,...</td>
                                            <td><strong>25,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Tiki</td>
                                            <td><strong>: 25,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>V&eacute; xe, m&aacute;y bay, đường sắt</td>
                                            <td><strong>96,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Bảo hiểm</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="nk-modal modal fade des-modal-qua"
                     id="des-modal-newuser-2" role="dialog" tabindex="-1">
                    <div class="modal-bg-close" data-dismiss="modal">&nbsp;</div>

                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                        aria-hidden="true">&times;</span></button>

                                <div class="container-fluid bd-example-row">
                                    <h2 class="text-center h1 my-3">G&oacute;i Qu&agrave; Ph&uacute;c - Lộc - Thọ</h2>
                                    &nbsp;

                                    <table border="1" cellpadding="10" style="margin:0px auto;width:100%;border: none;">
                                        <tbody>
                                        <tr>
                                            <td><strong>T&ecirc;n thẻ qu&agrave; </strong></td>
                                            <td><strong>Trị Gi&aacute;</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>30,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>30,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Thanh to&aacute;n điện, nước,...</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Xem phim</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Thanh to&aacute;n c&agrave; ph&ecirc;, tr&agrave; sữa...</td>
                                            <td><strong>60,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Circle K, Ministop,...</td>
                                            <td><strong>25,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Tiki</td>
                                            <td><strong>25,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>V&eacute; xe, m&aacute;y bay, đường sắt</td>
                                            <td><strong>99,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Bảo hiểm</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="nk-modal modal fade des-modal-qua"
                     id="des-modal-newuser-3" role="dialog" tabindex="-1">
                    <div class="modal-bg-close" data-dismiss="modal">&nbsp;</div>

                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                        aria-hidden="true">&times;</span></button>

                                <div class="container-fluid bd-example-row">
                                    <h2 class="text-center h1 my-3">G&oacute;i Qu&agrave; To&agrave;n Ph&aacute;t</h2>
                                    &nbsp;

                                    <table border="1" cellpadding="10" style="margin:0px auto;width:100%;border: none;">
                                        <tbody>
                                        <tr>
                                            <td><strong>T&ecirc;n thẻ qu&agrave; </strong></td>
                                            <td><strong>Trị Gi&aacute;</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>30,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>30,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>40,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Thanh to&aacute;n điện, nước,...</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Xem phim</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Thanh to&aacute;n c&agrave; ph&ecirc;, tr&agrave; sữa...</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Circle K, Ministop,...</td>
                                            <td><strong>50,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Tiki</td>
                                            <td><strong>50,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>V&eacute; xe, m&aacute;y bay, đường sắt</td>
                                            <td><strong>200,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Bảo hiểm</td>
                                            <td><strong>188,000 đ </strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="nk-modal modal fade des-modal-qua"
                     id="des-modal-newuser-4" role="dialog" tabindex="-1">
                    <div class="modal-bg-close" data-dismiss="modal">&nbsp;</div>

                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                        aria-hidden="true">&times;</span></button>

                                <div class="container-fluid bd-example-row">
                                    <h2 class="text-center h1 my-3">G&oacute;i Qu&agrave; Tam Hoa</h2>
                                    &nbsp;

                                    <table border="1" cellpadding="10" style="margin:0px auto;width:100%;border: none;">
                                        <tbody>
                                        <tr>
                                            <td><strong>T&ecirc;n thẻ qu&agrave; </strong></td>
                                            <td><strong>Trị Gi&aacute;</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>50,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>50,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Nạp điện thoại</td>
                                            <td><strong>50,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Thanh to&aacute;n điện, nước,...</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Xem phim</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Thanh to&aacute;n c&agrave; ph&ecirc;, tr&agrave; sữa...</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Circle K, Ministop,...</td>
                                            <td><strong>50,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Tiki</td>
                                            <td><strong>100,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>V&eacute; xe, m&aacute;y bay, đường sắt</td>
                                            <td><strong>200,000 đ </strong></td>
                                        </tr>
                                        <tr>
                                            <td>Bảo hiểm</td>
                                            <td><strong>199,000 đ </strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="des-block des-block-skt-important">
                    <div class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">ƯU Đ&Atilde;I KH&Aacute;CH
                        H&Agrave;NG MỚI
                    </div>

                    <div class="des-block-content">
                        <h2 class="h6 text-momo text-center">Lắc heo v&agrave;ng tr&uacute;ng ngay 1 trong 4 g&oacute;i
                            qu&agrave; may mắn ngay sau khi li&ecirc;n kết t&agrave;i khoản</h2>

                        <div class="row no-gutters des-qua">
                            <div class="col-6 mb-2 ml-0 col-lg-3 des-qua-item px-1">
                                <div data-backdrop="" data-target="#des-modal-newuser-1" data-toggle="modal"><img
                                        alt="Gói quà bốn mùa sinh lộc - Lắc Xì - Lắc Heo Vàng Nhận Lì Xì Ví MoMo"
                                        class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeInUp swiper-animated faster "
                                        src="https://static.mservice.io/blogscontents/momo-upload-api-1-01-190117132633.jpg"/>
                                </div>
                            </div>

                            <div class="col-6  mb-2 ml-0 col-lg-3 des-qua-item px-1">
                                <div data-backdrop="" data-target="#des-modal-newuser-2" data-toggle="modal"><img
                                        alt="Gói quà phúc lộc thọ - Lắc Xì - Lắc Heo Vàng Nhận Lì Xì Ví MoMo"
                                        class="img-fluid mx-auto d-block  des-qua-img  swiper-animate-fadeInUp swiper-animated faster "
                                        src="https://static.mservice.io/blogscontents/momo-upload-api-1-02-190117132658.jpg"/>
                                </div>
                            </div>

                            <div class="col-6 mb-2 ml-0 col-lg-3 des-qua-item px-1">
                                <div data-backdrop="" data-target="#des-modal-newuser-3" data-toggle="modal"><img
                                        alt="Gói quà toàn phát - Lắc Xì - Lắc Heo Vàng Nhận Lì Xì Ví MoMo"
                                        class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeInUp swiper-animated faster "
                                        src="https://static.mservice.io/blogscontents/momo-upload-api-1-03-190117132715.jpg"/>
                                </div>
                            </div>

                            <div class="col-6 mb-2 ml-0 col-lg-3 des-qua-item px-1">
                                <div data-backdrop="" data-target="#des-modal-newuser-4" data-toggle="modal"><img
                                        alt="Gói quà tam hoa - Lắc Xì - Lắc Heo Vàng Nhận Lì Xì Ví MoMo"
                                        class="img-fluid mx-auto d-block  des-qua-img swiper-animate-fadeInUp swiper-animated faster "
                                        src="https://static.mservice.io/blogscontents/momo-upload-api-1-04-190117132730.jpg"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text-center mt-4"><a class="btn btn-yellow font-weight-bold rounded-pill"
                                                                href="/lixi/lien-ket-ngan-hang">XEM CHI TIẾT</a></div>
                    </div>
                </div>
            </div>

            <div class="des-scroll-down des-slideNext text-uppercase d-block d-lg-none">Xem tiếp
                <div class="des-scroll-icon"><!--?xml version="1.0" encoding="UTF-8" ?-->
                    <svg enable-background="new 0 0 284.929 284.929" version="1.1" viewbox="0 0 284.93 284.93"
                         xml:space="preserve" xmlns="http://www.w3.org/2000/svg"> <path
                            d="m282.08 76.511-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661 0.95-6.563 2.856l-112.21 112.2-112.2-112.2c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665 0.95-6.567 2.856l-14.272 14.274c-1.906 1.902-2.856 4.092-2.856 6.567 0 2.473 0.953 4.663 2.856 6.565l133.04 133.05c1.902 1.903 4.093 2.854 6.567 2.854s4.661-0.951 6.562-2.854l133.05-133.05c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-0.945-4.665-2.847-6.571z"></path> </svg>
                </div>
            </div>
        </div>
        <div class="section">

            <div class="container fullpage-padding">

                <div class="des-block des-block-skt-important">
                    <div class="des-block-title text-center swiper-animate-tada swiper-animated delay-0-5s">
                        C&#xC2;U H&#x1ECE;I TH&#x1AF;&#x1EDC;NG G&#x1EB6;P
                    </div>
                    <div class="des-block-content">
                        <ul class="nav tt-nav" id="pills-2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#qa-tab-73" data-toggle="pill" role="tab"
                                   aria-controls="pills-home" aria-selected="true"><h2 class="h5 xs-h6">L&#x1EAF;c X&#xEC;
                                    - L&#x1EAF;c Heo V&#xE0;ng</h2></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#qa-tab-74" data-toggle="pill" role="tab"
                                   aria-controls="pills-home" aria-selected="true"><h2 class="h5 xs-h6">Gi&#x1EDB;i Thi&#x1EC7;u
                                    V&#xED; MoMo</h2></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" id="pills-22t">
                            <div class="tab-pane  fade show active" id="qa-tab-73" role="tabpanel"
                                 aria-labelledby="pills-home-tab">

                                <div id="qa-accordion-73" class="help-center-accordion promotion-accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link " data-toggle="collapse" href="#qa-collapse-438">
                                                <h3 class="h6">L&#x1EAF;c X&#xEC; - L&#x1EAF;c Heo V&#xE0;ng MoMo l&#xE0;
                                                    g&#xEC;?</h3>
                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="qa-collapse-438" class="collapse show" data-parent="#qa-accordion-73">
                                            <div class="card-body">
                                                <p style="text-align: justify;"><span style="font-size:14px;"><strong>Lắc X&igrave; - Lắc Heo V&agrave;ng</strong>&nbsp;l&agrave; t&iacute;nh năng đặc biệt của <strong>Ứng dụng&nbsp;V&iacute; MoMo</strong>&nbsp;ra mắt trong dịp <strong>Tết Kỷ Hợi 2019</strong>. Người tham gia&nbsp;t&iacute;ch lũy lượt chơi v&agrave;&nbsp;thực hiện&nbsp;<strong>Lắc Heo V&agrave;ng</strong>&nbsp;để c&oacute; thể nhận<strong> L&igrave; x&igrave; từ V&iacute; MoMo</strong> với rất nhiều qu&agrave; tặng hấp dẫn&nbsp;như: Xe Honda SH, xe Vespa, Macbook, iPhone v&agrave; h&agrave;ng ng&agrave;n qu&agrave; tặng gi&aacute; trị kh&aacute;c. Tất cả người chơi đều được V&iacute; MoMo tặng 2 lượt Lắc Heo V&agrave;ng&nbsp;đầu ti&ecirc;n.<strong
                                                        class="text-momo">&nbsp;<a
                                                        href="https://momoapp.page.link/L1obxQzPnYEiroFT6">Lắc Heo V&agrave;ng ngay</a>!</strong></span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse"
                                               href="#qa-collapse-415">
                                                <h3 class="h6">G&#x1EED;i L&#xEC; X&#xEC; - L&#xEC; X&#xEC; Truy&#x1EC1;n
                                                    Th&#x1ED1;ng l&#xE0; g&#xEC;?</h3>
                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="qa-collapse-415" class="collapse " data-parent="#qa-accordion-73">
                                            <div class="card-body">
                                                <p style="text-align: justify;"><span style="font-size:14px;"><strong>Gửi L&igrave; X&igrave; </strong>-&nbsp;<strong>L&igrave; X&igrave; Truyền Thống</strong>&nbsp;l&agrave; t&iacute;nh năng tr&ecirc;n V&iacute; MoMo gi&uacute;p bạn <b>dễ d&agrave;ng</b>&nbsp;gửi tiền l&igrave; x&igrave;, mừng tuổi theo c&aacute;ch <strong>truyền thống</strong> đến người kh&aacute;c&nbsp;với những tấm thiệp dễ thương, vui nhộn v&agrave; h&agrave;i hước. Mỗi lần <strong>Gửi L&igrave; X&igrave;&nbsp;</strong>th&agrave;nh c&ocirc;ng, bạn được nhận th&ecirc;m ngay 1 lượt <strong>Lắc Heo V&agrave;ng</strong>&nbsp;để c&oacute; cơ hội&nbsp;rinh nhiều phần qu&agrave;&nbsp;hấp dẫn từ V&iacute; MoMo.&nbsp;</span><strong
                                                        class="text-momo"><span
                                                        style="font-size: 14px; text-align: justify;"><a
                                                        href="https://momoapp.page.link/MVHDfkhVVf4nRXw4A">Gửi L&igrave; X&igrave; ngay!</a></span></strong>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse"
                                               href="#qa-collapse-441">
                                                <h3 class="h6">Tranh &#x111;i&#x1EC3;m &#x111;&#x1ED5;i qu&#xE0; l&#xE0;
                                                    g&#xEC;?</h3>
                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="qa-collapse-441" class="collapse " data-parent="#qa-accordion-73">
                                            <div class="card-body">
                                                <p>Tranh điểm đổi qu&agrave; l&agrave; t&iacute;nh năng mới của V&iacute;
                                                    MoMo trong dịp Tết 2019. Người chơi c&oacute; thể tạo một &ldquo;ph&ograve;ng
                                                    k&iacute;n&quot; ngay tr&ecirc;n V&iacute; MoMo v&agrave; mời bạn b&egrave;
                                                    của m&igrave;nh v&agrave;o g&oacute;p điểm thưởng MoMo.<br/>
                                                    Khi trận đấu bắt đầu, h&atilde;y nhấn li&ecirc;n tục v&agrave;o m&agrave;n
                                                    h&igrave;nh để gi&agrave;nh được thật nhiều điểm. Điểm thưởng được d&ugrave;ng
                                                    để đổi c&aacute;c thẻ qu&agrave; sử dụng dịch vụ - tiện &iacute;ch
                                                    hiện c&oacute; tr&ecirc;n Ứng dụng V&iacute; MoMo.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse"
                                               href="#qa-collapse-417">
                                                <h3 class="h6">Gi&#x1EAD;t L&#xEC; X&#xEC; l&#xE0; g&#xEC;?</h3>
                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="qa-collapse-417" class="collapse " data-parent="#qa-accordion-73">
                                            <div class="card-body">
                                                <p style="text-align: justify;"><span style="font-size:14px;"><strong>Giật&nbsp;L&igrave; X&igrave; - L&igrave; X&igrave; 4.0&nbsp;</strong>l&agrave; t&iacute;nh năng <strong>gửi l&igrave; x&igrave;&nbsp;kiểu mới </strong>v&ocirc; c&ugrave;ng&nbsp;độc đ&aacute;o tr&ecirc;n ứng dụng&nbsp;<strong>V&iacute; MoMo</strong>. Những người nhận được tiền l&igrave; x&igrave; từ bạn&nbsp;phải thực hiện một thử th&aacute;ch do bạn tạo ra.&nbsp;</span><span
                                                        style="font-size: 14px; text-align: justify;">Bạn c&oacute; thể tạo một&nbsp;</span><strong
                                                        style="font-size: 14px; text-align: justify;">M&atilde; L&igrave;
                                                    X&igrave;</strong><span
                                                        style="font-size: 14px; text-align: justify;">&nbsp;thật&nbsp;<em>b&aacute; đạo, h&agrave;i hước</em>&nbsp;v&agrave; th&ocirc;ng b&aacute;o cho những người m&agrave; bạn muốn gửi l&igrave; x&igrave;.&nbsp;</span><strong
                                                        style="font-size: 14px; text-align: justify;">Người
                                                    nhận&nbsp;</strong><span
                                                        style="font-size: 14px; text-align: justify;">tiến h&agrave;nh nhập <strong>M&atilde; L&igrave; X&igrave;</strong> để c&oacute; thể nhận được tiền l&igrave; x&igrave; từ bạn. S</span><span
                                                        style="font-size:14px;">au khi tạo m&atilde; l&igrave; x&igrave; th&agrave;nh c&ocirc;ng, bạn sẽ được nhận th&ecirc;m 2 lượt Lắc Heo V&agrave;ng. </span><span
                                                        style="text-align: justify; font-size: 14px;"><strong
                                                        class="text-momo"><a
                                                        href="https://momoapp.page.link/ydVcteMJQGiysEuJ6">Tạo&nbsp;m&atilde; ngay</a></strong>&nbsp;v&agrave;&nbsp;gửi cho bạn b&egrave;, người th&acirc;n&nbsp;để vừa <strong>L&igrave; X&igrave; Tết</strong> v&agrave;&nbsp;tạo ra những trải nghiệm&nbsp;thật vui vẻ, bạn nh&eacute;!</span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse"
                                               href="#qa-collapse-416">
                                                <h3 class="h6">&#x110;&#xF2;i L&#xEC; X&#xEC; l&#xE0; g&#xEC;?</h3>
                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="qa-collapse-416" class="collapse " data-parent="#qa-accordion-73">
                                            <div class="card-body">
                                                <p style="text-align: justify;"><span style="font-size: 14px;"><strong>Đ&ograve;i L&igrave; X&igrave;</strong>&nbsp;l&agrave; t&iacute;nh năng&nbsp;gi&uacute;p bạn c&oacute; thể </span><span
                                                        style="font-size:14px;"><em><strong>&quot;v&ograve;i tiền&quot;</strong></em>&nbsp;mừng tuổi từ người th&acirc;n, bạn b&egrave; một c&aacute;ch hết sức vui vẻ th&ocirc;ng qua <strong>V&iacute; MoMo</strong>. Khi&nbsp;<strong>&quot;Đ&ograve;i L&igrave; X&igrave;&quot;</strong> th&agrave;nh c&ocirc;ng, bạn sẽ được nhận th&ecirc;m 1&nbsp;lượt <strong>Lắc Heo V&agrave;ng</strong> để c&oacute; cơ hội trở th&agrave;nh Th&aacute;nh Lắc MoMo.&nbsp;&nbsp;</span><strong
                                                        class="text-momo"><a
                                                        href="https://momoapp.page.link/ABZf8CtN3B6B3sLM8">Đ&ograve;i L&igrave;
                                                    X&igrave; ngay</a></strong>!</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane  fade show " id="qa-tab-74" role="tabpanel"
                                 aria-labelledby="pills-home-tab">

                                <div id="qa-accordion-74" class="help-center-accordion promotion-accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link " data-toggle="collapse" href="#qa-collapse-433">
                                                <h3 class="h6">V&#xED; &#x111;i&#x1EC7;n t&#x1EED; MoMo l&#xE0;
                                                    g&#xEC;?</h3>
                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="qa-collapse-433" class="collapse show" data-parent="#qa-accordion-74">
                                            <div class="card-body">
                                                <p style="text-align: justify;"><span style="font-size:14px;">V&iacute; MoMo l&agrave; sản phẩm của C&ocirc;ng ty M_Service. Kh&aacute;ch h&agrave;ng c&oacute; thể sử dụng V&iacute; MoMo để: Nạp tiền điện thoại tất cả nh&agrave; mạng, thanh to&aacute;n c&aacute;c loại h&oacute;a đơn, thanh to&aacute;n vay trả g&oacute;p, mua sắm online, thanh to&aacute;n dịch vụ ăn uống - giải tr&iacute;.<br/>
V&iacute; MoMo được cấp giấy ph&eacute;p v&agrave; quản l&yacute; bởi Ng&acirc;n h&agrave;ng Nh&agrave; nước. Đồng thời l&agrave; đối t&aacute;c chiến lược của c&aacute;c Ng&acirc;n h&agrave;ng lớn, như: Vietcombank, VietinBank, VPBank, OCB, Eximbank, TPBank, VIB Bank, ACB, BIDV, Shinhan Bank, SCB, Agribank, VRB, Sacombank...<br/>
Tham khảo th&ecirc;m th&ocirc;ng tin về V&iacute; MoMo tại: <a href="http://momo.vn">momo.vn</a></span></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse"
                                               href="#qa-collapse-434">
                                                <h3 class="h6">V&#xED; MoMo c&#xF3; an to&#xE0;n kh&#xF4;ng?</h3>
                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="qa-collapse-434" class="collapse " data-parent="#qa-accordion-74">
                                            <div class="card-body">
                                                <p style="text-align: justify;"><span style="font-size:14px;">Bạn ho&agrave;n to&agrave;n y&ecirc;n t&acirc;m khi sử dụng V&iacute; MoMo v&igrave; 4 l&iacute; do:</span>
                                                </p>

                                                <p style="text-align: justify;"><span style="font-size:14px;">- Bảo chứng bởi Ng&acirc;n h&agrave;ng: Tiền trong t&agrave;i khoản được bảo chứng bởi Ng&acirc;n h&agrave;ng Vietcombank &amp; Ng&acirc;n h&agrave;ng li&ecirc;n kết với t&agrave;i khoản của bạn. V&iacute; MoMo được Ng&acirc;n h&agrave;ng nh&agrave; nước cấp giấy ph&eacute;p v&agrave; quản l&yacute;.<br/>
- Mạng lưới bảo mật 3 tầng: Mỗi bước giao dịch của bạn đều được V&iacute; MoMo m&atilde; h&oacute;a v&agrave; bảo vệ ngay tức th&igrave;, V&iacute; MoMo tự kh&oacute;a ứng dụng nếu kh&ocirc;ng được sử dụng trong v&ograve;ng 5 ph&uacute;t.<br/>
- Đạt chuẩn quốc tế PCI DSS.<br/>
- Hỗ trợ đa k&ecirc;nh 24/7.</span></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse"
                                               href="#qa-collapse-435">
                                                <h3 class="h6">S&#x1EED; d&#x1EE5;ng V&#xED; MoMo c&#xF3; b&#x1ECB; m&#x1EA5;t
                                                    ph&#xED;?</h3>
                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="qa-collapse-435" class="collapse " data-parent="#qa-accordion-74">
                                            <div class="card-body">
                                                <p style="text-align: justify;"><span style="font-size: 14px;">Sử dụng V&iacute; MoMo để Chuyển tiền, Nạp tiền điện thoại, Thanh to&aacute;n H&oacute;a đơn/ Dịch vụ... ho&agrave;n to&agrave;n kh&ocirc;ng mất ph&iacute;.</span>
                                                </p>

                                                <p style="text-align: justify;"><span style="font-size:14px;">V&iacute; MoMo cũng kh&ocirc;ng y&ecirc;u cầu số dư tối thiểu trong t&agrave;i khoản V&iacute; MoMo, kh&ocirc;ng thu ph&iacute; khởi tạo, ph&iacute; sử dụng hay bất kỳ khoản ph&iacute; bất thường n&agrave;o.<br/>
V&iacute; MoMo chỉ thu ph&iacute; khi Qu&yacute; kh&aacute;ch sử dụng c&aacute;c dịch vụ sau:</span></p>

                                                <ul>
                                                    <li style="text-align: justify;"><span style="font-size:14px;">Nạp tiền từ thẻ ATM của 30 ng&acirc;n h&agrave;ng thuộc hệ thống Napas. Ph&iacute; l&agrave;: 2.000Đ + 1,6% GTGD.</span>
                                                    </li>
                                                    <li style="text-align: justify;"><span style="font-size:14px;">Từ thẻ quốc tế (Visa/Master/JCB), ph&iacute; l&agrave; 2.200Đ + 1,5% GTGD.</span>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse"
                                               href="#qa-collapse-440">
                                                <h3 class="h6">R&#xFA;t ti&#x1EC1;n t&#x1EEB; V&#xED; MoMo v&#x1EC1; t&#xE0;i
                                                    kho&#x1EA3;n Ng&#xE2;n h&#xE0;ng c&#xF3; m&#x1EA5;t ph&#xED; hay kh&#xF4;ng?</h3>
                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="qa-collapse-440" class="collapse " data-parent="#qa-accordion-74">
                                            <div class="card-body">
                                                <p style="text-align: justify;"><span style="font-size:14px;">Khi r&uacute;t tiền từ V&iacute; MoMo về t&agrave;i khoản Ng&acirc;n h&agrave;ng li&ecirc;n kết, bạn sẽ được <strong>MIỄN PH&Iacute;</strong>&nbsp;r&uacute;t tiền cho <strong>3 GIAO DỊCH R&Uacute;T TIỀN ĐẦU TI&Ecirc;N TRONG&nbsp;TH&Aacute;NG</strong>. Số tiền tối thiểu khi r&uacute;t về t&agrave;i khoản l&agrave; 50.000đ.&nbsp;Với giao dịch R&uacute;t tiền từ lần thứ 4 trở đi, V&iacute; MoMo sẽ &aacute;p dụng mức ph&iacute; r&uacute;t tiền cũ. Xem th&ecirc;m <a
                                                        href="https://momo.vn/tin-tuc/tin-tuc-su-kien/uu-dai-mien-phi-rut-tien-tu-momo-ve-tai-khoan-ngan-hang-652"
                                                        target="_blank">tại đ&acirc;y</a>.</span></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="des-scroll-down des-slideTop up text-uppercase d-block d-lg-none">

                <div class="des-scroll-icon">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 284.929 284.929" version="1.1" viewBox="0 0 284.93 284.93"
                         xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m282.08 76.511-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661 0.95-6.563 2.856l-112.21 112.2-112.2-112.2c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665 0.95-6.567 2.856l-14.272 14.274c-1.906 1.902-2.856 4.092-2.856 6.567 0 2.473 0.953 4.663 2.856 6.565l133.04 133.05c1.902 1.903 4.093 2.854 6.567 2.854s4.661-0.951 6.562-2.854l133.05-133.05c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-0.945-4.665-2.847-6.571z"/>
                    </svg>
                </div>

                Lên đầu trang


            </div>
        </div>
        <div class="section">

            <div class="container fullpage-padding">
                <div class="des-block bg-white">
                    <div class="des-block-title swiper-animate-tada swiper-animated delay-0-5s">
                        &#x110;&#x1ED0;I T&#xC1;C &#x110;&#x1ED2;NG H&#xC0;NH
                    </div>

                    <div class="des-block-content ">
                        <div class="doitac-title">
                            <span class="h4 mb-0">ĐỐI TÁC KIM CƯƠNG</span>
                        </div>
                        <div class="row no-gutters align-items-center mb-4 justify-content-center">

                            <div class="col-3 col-sm-3 col-xl">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-206"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo1-190117150151.png"
                                         class="img-fluid mx-auto d-block"
                                         alt="B&#x1EA3;o Vi&#x1EC7;t">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-xl">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-207"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo2-190117151138.png"
                                         class="img-fluid mx-auto d-block"
                                         alt="Tiki">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-xl">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-211"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo6-190117151406.png"
                                         class="img-fluid mx-auto d-block"
                                         alt="Fim&#x2B;">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-xl">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-209"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo4-190117151303.png"
                                         class="img-fluid mx-auto d-block"
                                         alt="Ph&#xFA;c Long">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-xl">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-210"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo5-190117151337.png"
                                         class="img-fluid mx-auto d-block"
                                         alt="MiniStop">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-xl">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-212"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo7-190117151446.png"
                                         class="img-fluid mx-auto d-block"
                                         alt="The Pizza Company">
                                </div>
                            </div>
                        </div>


                        <div class="doitac-title">
                            <span class="h4 mb-0">ĐỐI TÁC VÀNG</span>
                        </div>
                        <div class="row no-gutters align-items-center justify-content-center">

                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-228"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2026-190117152424.png"
                                         class="img-fluid mx-auto d-block"
                                         alt="G&#xE0; n&#x1B0;&#x1EDB;ng &#xD2; &#xD3; O">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-216"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo2-190118141137.png"
                                         class="img-fluid mx-auto d-block" alt="B&#xF2; L&#x1EBF; R&#x1ED3;">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-217"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2015-190117151648.png"
                                         class="img-fluid mx-auto d-block" alt="California Wow">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-226"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2023-190117152324.png"
                                         class="img-fluid mx-auto d-block" alt="Dickies">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-218"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2016-190117151803.png"
                                         class="img-fluid mx-auto d-block" alt="Chamichi">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-229"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2027-190117152443.png"
                                         class="img-fluid mx-auto d-block" alt="GIC">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-222"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2025-190117151953.png"
                                         class="img-fluid mx-auto d-block" alt="Feeling Tea">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-224"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo8-190118150547.png"
                                         class="img-fluid mx-auto d-block" alt="Dairy Queen">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-227"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2024-190117152355.png"
                                         class="img-fluid mx-auto d-block" alt="Doll eyes">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-219"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2017-190117151825.png"
                                         class="img-fluid mx-auto d-block" alt="Chewy Junior">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-256"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2054-190117154230.png"
                                         class="img-fluid mx-auto d-block" alt="Toocha">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-233"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2031-190117152622.png"
                                         class="img-fluid mx-auto d-block" alt="Smothie Factory">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-232"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2030-190117152552.png"
                                         class="img-fluid mx-auto d-block" alt="ShareTea">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-243"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2041-190117153249.png"
                                         class="img-fluid mx-auto d-block" alt="Soya Garden">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-255"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo15-190118135309.png"
                                         class="img-fluid mx-auto d-block" alt="TocoToco">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-221"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2019-190117151923.png"
                                         class="img-fluid mx-auto d-block" alt="Royal Tea">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-258"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2056-190117154311.png"
                                         class="img-fluid mx-auto d-block" alt="Vascara">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-244"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2042-190117153319.png"
                                         class="img-fluid mx-auto d-block" alt="Yoga Plus">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-220"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2018-190117151847.png"
                                         class="img-fluid mx-auto d-block" alt="Robins.vn">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-257"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2055-190117154250.png"
                                         class="img-fluid mx-auto d-block" alt="UFC Gym">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-247"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2045-190117153500.png"
                                         class="img-fluid mx-auto d-block" alt="MIC">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-239"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2037-190117152941.png"
                                         class="img-fluid mx-auto d-block" alt="vntrip.vn">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-252"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2050-190117154053.png"
                                         class="img-fluid mx-auto d-block" alt="RedDoor">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-259"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo24-190118140710.png"
                                         class="img-fluid mx-auto d-block" alt="VietJet">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-237"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2035-190117152839.png"
                                         class="img-fluid mx-auto d-block" alt="Icool">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-238"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo28-190118140809.png"
                                         class="img-fluid mx-auto d-block" alt="Jockey vera">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-251"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2049-190117153703.png"
                                         class="img-fluid mx-auto d-block" alt="PVI">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-240"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2038-190117153037.png"
                                         class="img-fluid mx-auto d-block" alt="liberty Insurance">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-236"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-asset%2034-190117152805.png"
                                         class="img-fluid mx-auto d-block" alt="Heekaa">
                                </div>
                            </div>
                        </div>


                        <div class="doitac-title">
                            <span class="h4 mb-0 mt-4">ĐỐI TÁC BẠC</span>
                        </div>
                        <div class="row no-gutters align-items-center justify-content-center">

                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-213"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo9-190118141447.png"
                                         class="img-fluid mx-auto d-block" alt="Beauti Friend">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-214"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo5-190118141231.png"
                                         class="img-fluid mx-auto d-block" alt="BetterFit">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-215"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo1-190118141102.png"
                                         class="img-fluid mx-auto d-block" alt="BoBaPop">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-223"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo12-190118141615.png"
                                         class="img-fluid mx-auto d-block" alt="Awadee">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-225"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo6-190118141250.png"
                                         class="img-fluid mx-auto d-block" alt="&#x110;en &#x110;&#xE1;">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-230"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo10-190118141510.png"
                                         class="img-fluid mx-auto d-block" alt="TGame">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-231"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo17-190118141757.png"
                                         class="img-fluid mx-auto d-block" alt="Shabu Ya">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-234"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo8-190118141429.png"
                                         class="img-fluid mx-auto d-block" alt="Gotadi">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-235"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo7-190118141412.png"
                                         class="img-fluid mx-auto d-block" alt="Hachi Hachi">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-241"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo2-190118141154.png"
                                         class="img-fluid mx-auto d-block" alt="LixiBox">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-245"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo13-190118141632.png"
                                         class="img-fluid mx-auto d-block" alt="Malissa Kiss ">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-246"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo4-190118141217.png"
                                         class="img-fluid mx-auto d-block" alt="MARC">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-249"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo16-190118141725.png"
                                         class="img-fluid mx-auto d-block" alt="Otoke Chicken">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-250"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo15-190118141707.png"
                                         class="img-fluid mx-auto d-block" alt="Pastamania">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-253"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo11-190118141538.png"
                                         class="img-fluid mx-auto d-block" alt="Srichand">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-254"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo14-190118141648.png"
                                         class="img-fluid mx-auto d-block" alt="Thai Express">
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2  col-doitac-10">
                                <div class="doitac-item" data-toggle="modal" data-target="#des-modal-doitac-260"
                                     data-backdrop="">
                                    <img src="https://static.mservice.io/img/momo-upload-api-logo3-190118141041.png"
                                         class="img-fluid mx-auto d-block" alt="Aka House">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-4"><a class="btn btn-yellow font-weight-bold rounded-pill"
                                                                href="/lixi/doi-tac-dong-hanh">XEM CHI TIẾT</a></div>


                    </div>


                </div>
            </div>
        </div>



    </div>

    <div class="des-nav-btn">
        <img src="images/menu.svg" alt="">
    </div>

    <div class="des-nav-pos">

        <div class="des-nav-close d-block d-lg-none">
            <svg class="" width="50px" height="50px" enable-background="new 0 0 174.239 174.239" version="1.1"
                 viewBox="0 0 174.24 174.24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g fill="#FCFBFB">
            <path class="active-path"
                  d="M87.12,0C39.082,0,0,39.082,0,87.12s39.082,87.12,87.12,87.12s87.12-39.082,87.12-87.12S135.157,0,87.12,0z M87.12,159.305   c-39.802,0-72.185-32.383-72.185-72.185S47.318,14.935,87.12,14.935s72.185,32.383,72.185,72.185S126.921,159.305,87.12,159.305z"
                  data-old_color="#F9F8F8" data-original="#000000"/>
            <path class="active-path"
                  d="m120.83 53.414c-2.917-2.917-7.647-2.917-10.559 0l-23.151 23.154-23.151-23.154c-2.917-2.917-7.642-2.917-10.559 0s-2.917 7.642 0 10.559l23.151 23.153-23.152 23.154c-2.917 2.917-2.917 7.642 0 10.559 1.458 1.458 3.369 2.188 5.28 2.188s3.824-0.729 5.28-2.188l23.151-23.153 23.151 23.153c1.458 1.458 3.369 2.188 5.28 2.188s3.821-0.729 5.28-2.188c2.917-2.917 2.917-7.642 0-10.559l-23.152-23.153 23.151-23.153c2.917-2.917 2.917-7.643 0-10.56z"
                  data-old_color="#F9F8F8" data-original="#000000"/>
        </g>
        </svg>
        </div>


        <div class="des-nav ">
            <div class="animated fadeInLeft delay-1s faster des-nav-bg">
                <div class="des-nav-item is-active" data-tar="0">LẮC XÌ MOMO</div>
                <div class="des-nav-item" data-tar="1">LẮC HEO VÀNG</div>
                <div class="des-nav-item" data-tar="2">NHẬN LÌ XÌ</div>
                <div class="des-nav-item" data-tar="3">SỰ KIỆN HOT</div>
                <div class="des-nav-item" data-tar="4">THÊM LƯỢT LẮC</div>
                <div class="des-nav-item" data-tar="5">KHÁCH HÀNG MỚI</div>
                <div class="des-nav-item" data-tar="6">HỎI ĐÁP</div>
                <div class="des-nav-item" data-tar="7">ĐỐI TÁC</div>

            </div>
        </div>
    </div>


    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>
</div>

{% endblock %}