{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<!-- Page Loader -->

<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>


<div class="hs-container">

    <div class="hs-action d-none d-lg-block">
        <a href=""> <img src="images/heovang/lacheo-btn.png" class="tada animated infinite slow" width="150" alt="">
        </a>
    </div>

    <div class="des-logo">
        <img src="images/heovang/momo-logo2.png" class="img-fluid d-block mx-auto">
    </div>


    <div class="container">
        <div class="animate-zoomLarge animated faster delay-2s">
            <img src="images/quayso/quayso-tt.png" class="img-fluid mx-auto d-block hv-logo" width="800" alt="">
        </div>


        <div class="slot-machine-container">
            <div class="slot-machine-bg">
                <div id="ezslots1"></div>
            </div>

        </div>




        <div class="text-center btn-slot-container">
            <a id="winwinwin1" class=" btn-slot-machine" href="">

                <img src="images/quayso/btn-quay.png" class="img-fluid d-block mx-auto" alt="">

            </a>

        </div>


        <br>



        <div class="des-block tt-block ">

            <div class="des-block-content">

                <ul class="nav tt-nav quayso-nav" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#pills-home" role="tab"
                           aria-controls="pills-home" aria-selected="true">Kết quả đợt 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-profile" role="tab"
                           aria-controls="pills-profile" aria-selected="false">Kết quả đợt 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-contact" role="tab"
                           aria-controls="pills-contact" aria-selected="false">Kết quả đợt 3</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-contact" role="tab"
                           aria-controls="pills-contact" aria-selected="false">Kết quả đợt 4</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-contact" role="tab"
                           aria-controls="pills-contact" aria-selected="false">Kết quả đợt 5</a>
                    </li>
                </ul>


                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <div class="table-responsive tt-table">
                            <table id="dataTable1" width="100%" class="table table-striped ">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Kết quả</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for item in range(0,50) %}
                                <tr>
                                    <td>1</td>
                                    <td>Nguyen Van B</td>
                                    <td>01669206xxx</td>
                                    <td>TRẬT</td>

                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        ...
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        ...
                    </div>
                </div>


            </div>
        </div>


    </div>


    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>

</div>

{% endblock %}



{% block javascript %}



{{ super() }}


<script src="js/ezslots.js"></script>
<script src="js/jquery.easing.1.3.js"></script>

<script>

    $(function () {
        //setting up some sample set sof things we can make a slot machine of
        var numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
        //var callbackFunction = function(result){
        //	alert("Chúc mừng số điện thoại 0907.693.613 đã trúng thưởng");
        //}


        //simple numbers based one
        var ezslot1 = new EZSlots("ezslots1", {
            "reelCount": 10,
            "startingSet": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            "winningSet": [0, 9, 0, 7, 6, 9, 3, 6, 1, 3],
            "symbols": numbers,
            "height": 90,
            "width": 77
        });//, "callback": callbackFunction


        $("#winwinwin1").click(function (e) {
            e.preventDefault();
            console.log(ezslot1.win())
        });

    });

</script>



{% endblock %}
