{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<!-- Page Loader -->

<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>


<div class="hs-container">

    <div class="hs-action d-none d-lg-block">
        <a href=""> <img src="images/heovang/lacheo-btn.png" class="tada animated infinite slow" width="150" alt="">
        </a>
    </div>

    <div class="des-logo">
        <img src="images/heovang/momo-logo2.png" class="img-fluid d-block mx-auto">
    </div>


    <div class="container">
        <div class="animate-zoomLarge animated faster delay-2s">
            <img src="images/heovang/sanluotlac.png" class="img-fluid mx-auto d-block hv-logo" width="540" alt="">
        </div>
    </div>


    <div class="hv-container mt-4 ">

        <div class="container">
            <div class="text-center ">
                <div class="hv-countdown sl-countdown">

                    <img src="images/heovang/heofun1.png" width="40" class="hv-countdown-icon" alt="">

                    <span style="vertical-align: middle;">NHIỆM VỤ THU THẬP LƯỢT LẮC</span>

                </div>
            </div>
            <div class="row">

                <div class="col-12 col-lg-10 offset-lg-1">

                    <!-- Swiper -->
                    <div class="hv-swiper-bg sl-swiper">
                        <div class="swiper-container hv-swiper">
                            <div class="swiper-wrapper nav">

                                {% set nameSan = [
                                    "THU THẬP BAO LÌ XÌ",
                                    "HỘP QUÀ BÍ ẨN",
                                    "TẠO MÃ LÌ XÌ",
                                    "SƯU TẦM",
                                "THU THẬP BAO LÌ XÌ",
                                "HỘP QUÀ BÍ ẨN",
                                "TẠO MÃ LÌ XÌ",
                                "SƯU TẦM"
                                ] %}

                                {% for item in nameSan %}

                                <div data-toggle="tab" href="{{ '#heovang' + loop.index }}"
                                     class="swiper-slide {{ 'hv-active' if loop.index == 1  }}  {{ 'hv-inactive' if loop.index == 1  }}">
                                    <div class="hv-timeline">

                                        <div class="sl-list">
                                            {{item}}
                                        </div>

                                    </div>
                                </div>

                                {% endfor %}

                            </div>

                            <!-- Add Arrows -->
                            <div class="swiper-button-next swiper-button-black d-none d-lg-block"></div>
                            <div class="swiper-button-prev swiper-button-black d-none d-lg-block"></div>

                        </div>
                    </div>
                    <!-- End Swiper -->
                </div>
            </div>


            <div class="tab-content mt-4 pt-0 pt-lg-4" id="">
                <div class="tab-pane fade show active" id="heovang1" role="tabpanel">
                    <div class="container  ">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mb-4 mb-lg-0">
                                <img src="images/heovang/lixi1.png" class="sl-gift img-fluid d-block mx-auto wow fadeInUp" data-wow-duration="0.5s"/>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 text-left">
                                <h4 class="text-white mx-auto wow fadeInUp"  data-wow-duration="0.5s" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
                                <p  class="text-white mx-auto wow fadeInUp"  data-wow-duration="0.7s" >
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="heovang2" role="tabpanel">
                    <div class="text-center text-white">Nội dung tab 2</div>
                </div>

                <div class="tab-pane fade" id="heovang3" role="tabpanel">
                    <div class="text-center text-white">Nội dung tab 3</div>
                </div>
            </div>


        </div>


    </div>


    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>

</div>

{% endblock %}