{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<!-- Page Loader -->

<div class="page-loader">
    <div class="loader">
        <img src="images/anim-1.gif" class="loader-logo" alt="">
    </div>
</div>


<div class="hs-container">

    <div class="hs-action d-none d-lg-block">
        <a href=""> <img src="images/heovang/lacheo-btn.png" class="tada animated infinite slow" width="150" alt="">
        </a>
    </div>

    <div class="des-logo">
        <img src="images/heovang/momo-logo2.png" class="img-fluid d-block mx-auto">
    </div>


    <div class="container">
        <div class="animate-zoomLarge animated faster delay-2s">
            <img src="images/heovang/bangthanhtich.png" class="img-fluid mx-auto d-block hv-logo" width="800" alt="">
        </div>

        <br>
        <br>


        <div class="des-block tt-block ">
            <div class="des-block-title text-center swiper-animate-tada swiper-animated delay-0-5s">
                LƯỢT LẮC NHIỀU NHẤT
            </div>
            <div class="des-block-content">

                <ul class="nav tt-nav" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active"  data-toggle="pill" href="#pills-home" role="tab"
                           aria-controls="pills-home" aria-selected="true">Tuần 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-profile" role="tab"
                           aria-controls="pills-profile" aria-selected="false">Tuần 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  data-toggle="pill" href="#pills-contact" role="tab"
                           aria-controls="pills-contact" aria-selected="false">Tuần 3</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-contact" role="tab"
                           aria-controls="pills-contact" aria-selected="false">Tuần 4</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"  data-toggle="pill" href="#pills-contact" role="tab"
                           aria-controls="pills-contact" aria-selected="false">Tuần 5</a>
                    </li>
                </ul>


                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <div class="table-responsive tt-table">
                            <table id="dataTable1" width="100%" class="table table-striped ">
                                <thead>
                                <tr>
                                    <th>Hạng</th>
                                    <th>Tên</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Lượt</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for item in range(0,50) %}
                                <tr>
                                    <td>1</td>
                                    <td>Nguyen Van B</td>
                                    <td>01669206xxx</td>
                                    <td>121</td>

                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        ...
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        ...
                    </div>
                </div>


            </div>
        </div>


    </div>


    <canvas id="fireworks"></canvas>


    <script>

        var speed = 1;
        var minimum = 35;
        var maximum = 50;

    </script>

</div>

{% endblock %}