{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>

        {% block title %} {{ title }} {% endblock %}

    </title>
    <meta name="theme-color" content="#0e7abe">

    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/core.css">
    {% block css %}  {% endblock %}
</head>


<body>



{% include "layouts/header.html" %}

{% block content %}


{% endblock %}


{% include "layouts/footer.html" %}

{% block javascript %}

<script src="js/jquery-3.3.1.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>

<script src="javascripts/app.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap4.min.js"></script>
<script src="js/sweetalert2.all.min.js"></script>


<script src="js/wow.js"></script>
<script src="js/scrolloverflow.js"></script>
<script src="js/fullpage.js"></script>

<script>
    wow = new WOW(
        {
            boxClass:     'wow',      // default
            animateClass: 'animated', // default
            offset:       0,          // default
            mobile:       false,       // default
            live:         false        // default
        }
    )
    wow.init();


</script>

<script src="js/custom.js"></script>
<script src="js/firework.js"></script>



{% endblock %}

</body>

</html>