
a {
    color: inherit;
}

    a:hover {
        color: inherit;
        text-decoration: none;
    }

.text-momo {
    color: #a22270 !important;
}

.mt-8 {
    margin-top: 3.5rem !important;
}

.mt-10 {
    margin-top: 4.5rem !important;
}

.mt-12 {
    margin-top: 5.5rem !important;
}

.des-scroll-down {
    padding-bottom: 3px;
}

.des-logo img {
    width: 255px;
}

.btn-yellow:hover {
    color: #940368;
    background-color: #ffcc41;
    border-color: #ffcc41;
}

.btn-yellow {
    color: #940368;
    background-color: #ffdb69;
    border-color: #ffdb69;
}
.des-block-skt-important {
    background: #fef3dd!important;
}
.des-block-title {
    font-size: 27px;
}

.dataTables_filter {
    text-align: right;
}

.help-center-accordion .card-header {
    text-align: left;
}

.promotion-accordion.help-center-accordion .card-body {
    text-align: left;
}
.des-scroll-btn {
    bottom: 15px;
}

@media (max-width: 767.98px) {
    .process.d-block {
            display: flex !important;
        }
    }

    @media (max-width: 575.98px) {
        .btn-skt {
            font-size: 15px;
        }
        
        .ss-gift {
            max-width: 120px;
        }

        .des-logo {
            top: 10px;
        }

        .dataTables_filter {
            text-align: left;
        }

        .xs-h5 {
            font-size: 1.25rem;
        }
        .xs-h6 {
            font-size: 0.9rem;
        }

        .des-block-title {
             font-size: 15px; 
        }
    }
    /*.swiper-des, .hs-container {
    background: url(https://static.mservice.io/blogscontents/momo-upload-api-bg-lixi-2-190110084012.jpg) no-repeat center center;
}

.hs-container {
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    padding: 80px 0 40px;
    overflow: hidden;
    z-index: 1;
}

@media (max-width: 991.98px) {
    .swiper-des, .hs-container {
        background: url(https://static.mservice.io/blogscontents/momo-upload-api-bg-lixi-mb-2-190110084026.jpg) no-repeat center center;
        background-size: cover;
    }
}*/
